{% extends '_base.html' %}

{% block content %}
<main class="{{ entry.slug }}">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">Oakland</a>
        <a href="#">Departments</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds column-shift">
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.about }}</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-1">Services</a>
          <a class="menu-item" href="#section-2">News and Updates</a>
          <a class="menu-item" href="#section-3">Management</a>
        </nav>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  <section id="section-1" class="section">
    <div class="container">
      <h2>Services</h2>
      <div class="grid-row">
        <div class="menu one-third">
          {% for entry in entry.relatedServices %}
          {% if loop.index % 3 == 1 %}
          <a class="menu-item" href="{{ entry.url }}">{{ entry.title }}</a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="menu one-third">
          {% for entry in entry.relatedServices %}
          {% if loop.index % 3 == 2 %}
          <a class="menu-item" href="{{ entry.url }}">{{ entry.title }}</a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="menu one-third">
          {% for entry in entry.relatedServices %}
          {% if loop.index % 3 == 0 %}
          <a class="menu-item" href="{{ entry.url }}">{{ entry.title }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <hr>
    </div>
  </section>

  <section id="section-2" class="section">

    <div class="container">

      <div class="grid-row">

        <div class="post-excerpt two-thirds right">

          <h2>News and Updates</h2>

          {% for newsArticle in craft.entries.section('news').relatedTo(entry).limit(1) %}          
          {% if newsArticle.mainImage|length > 0 %}
          <img src="{{ newsArticle.mainImage.first().url }}" alt="Main Image">
          {% endif %}
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
          <p>{{ newsArticle.leadIn }}</p>
          {% endfor %}
        </div>

      </div>

      <div class="grid-row">

        {% for newsArticle in craft.entries.section('news').relatedTo(entry).offset(1).limit(3) %}

        <div class="post-excerpt one-third">
          {% if newsArticle.mainImage|length > 0 %}
          <img src="{{ newsArticle.mainImage.first().url }}" alt="Main Image">
          {% endif %}
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
        </div>

        {% endfor %}

      </div>

      <hr>

    </div>
  </section>

  <section id="section-3" class="section">
    <div class="container">
      <h2>Our Management</h2>
      <div class="grid-row">
        {% if entry.departmentHeadPortrait|length > 0 %}
        <div class="one-third">
          <img src="{{ entry.departmentHeadPortrait.first().url }}" alt="Department Head Photo">
        </div>
        {% endif %}
        <div class="two-thirds">
          {{ entry.departmentHead }}
          <p>{{ entry.departmentHeadBio }}</p>
        </div>
      </div>
    </div>
  </section>

</main> 
{% endblock %}   