{% extends '_base.html' %}

{% block content %}
<main class="{{ entry.slug }}">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="#">{{"Departments" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds column-shift">
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.about }}</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-1">{{"Contact Us" | translate}}</a>
          <a class="menu-item" href="#section-2">{{"Services and Resources" | translate }}</a>
          <a class="menu-item" href="#section-3">{{"News and Updates" | translate }}</a>
          <a class="menu-item" href="#section-4">{{"Our Management" | translate }}</a>
        </nav>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  <section id="section-1" class="section">
    <div class="container">
      <h2>{{"Contact Us" | translate }}</h2>
      <div class="grid-row">
        <div class="one-half">
          <h4>{{"Address" | translate }}</h4>
          <p>{{entry.departmentAddress}}</p>
          <iframe height="250" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ entry.departmentAddress | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
        </div>
        <div class="column-shift five-twelfths">
          {% if entry.departmentEmail|length > 0 %}
          <h4>{{"Email" | translate }}</h4>
          <p>{{entry.departmentEmail}}</p>
          {% endif %}
          <h4>{{"Phone Numbers" | translate }}</h4>
          <p>{{entry.departmentPhoneNumber}}</p>
          <h4>{{"Hours" | translate }}</h4>
          <p>{{entry.departmentHours}}</p>
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% if entry.relatedServices | length > 0 %}
  <section id="section-2" class="section">
    <div class="container">
      <h2>{{"Services and Resources" | translate }}</h2>
      <div class="grid-row">
        <div class="big-menu one-third">
          {% for entry in entry.relatedServices %}
          {% if loop.index % 3 == 1 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for entry in entry.relatedServices %}
          {% if loop.index % 3 == 2 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for entry in entry.relatedServices %}
          {% if loop.index % 3 == 0 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
  <section id="section-3" class="section">
    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"News and Updates" | translate }}</h2>
        </div>
        <div class="one-fourth text-right">
          <a href="{{ craft.entries.slug('news').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }}</a>
        </div>
      </div>
      <div class="grid-row">
          {% for newsArticle in craft.entries.section('news').relatedTo(entry).limit(3) %}  
          <div class="post-excerpt one-third">        
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
          <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  <section id="section-4" class="section">
    <div class="container">
      <h2>{{"Our Management" | translate }}</h2>
      <div class="grid-row">
        {% if entry.departmentHeadPortrait|length > 0 %}
        <div class="one-third">
          <img src="{{ entry.departmentHeadPortrait.first().url }}" alt="Department Head Photo">
        </div>
        {% endif %}
        <div class="two-thirds">
          {{ entry.departmentHead }}
          <p>{{ entry.departmentHeadBio }}</p>
        </div>
      </div>
    </div>
  </section>

</main> 
{% endblock %}   