
<div class="sticky-menu">

  <div class="beta-banner">
    <div class="container">
      <div class="grid-row">
        <div class="one-half">{{"This site is a work in progress." | translate }}</div>
        <div class="one-half">
          <a href="http://www2.oaklandnet.com">{{"Official Website" | translate }}</a>
          <a href="{{ craft.config.rootUrl }}digital-playbook/">{{"Learn More" | translate }}</a>
        </div>
      </div>

    </div>

  </div>
  <div class="header-wrap">
    <div class="container">
      <header class="page-header" role="banner">
        <div class="multi-logo-wrap">
          <a href="{{ siteUrl }}" class="site-logo-wrap">
            <img class="site-logo logo-black" src="{{ craft.config.rootUrl }}resources/img/coo-logo-black.svg" onerror="this.src='{{ craft.config.rootUrl }}resources/img/coo-logo-black.png'; this.onerror=null;" alt="City of Oakland" />
          </a>
        </div>
        <div class="header-actions">
          <form role="search" class="header-search" method="get" action="{{ url('search/') }}">
            <label>
              <input type="text" name="q" placeholder="{{'How can we help?' | translate }}" title="Search for:">
            </label>
            <span class="lnr lnr-magnifier search-icon"></span>
          </form>

          <div class="header-langauge-switcher">
          {% for locale in craft.i18n.getSiteLocales() %}
            {% if craft.locale != locale %}
              {% if craft.entries.id(entry.id).locale(locale.id) | length > 0 %}
              <a href="{{ craft.entries.id(entry.id).locale(locale.id).first().getUrl() }}">{{ craft.config.currentLgg[locale.id] }}</a>
              {% else %}
              <a href="{{ craft.config.siteUrl[locale.id] }} ">{{ craft.config.currentLgg[locale.id] }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </header>
    </div>
  </div>

</div>

<div class="sticky-placeholder"></div>