<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ metadata.websiteDescription }}">
<meta name="keywords" content="{{ metadata.websiteKeywords }}">

<title>
  {% if entry.title is defined %}{{ entry.title }} &middot; {% endif %}  City of Oakland
</title>

<link rel="stylesheet" href="{{ siteUrl }}resources/css/primer.css">
<link rel="stylesheet" href="//cdn.linearicons.com/free/1.0.0/icon-font.min.css">

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="{{ siteUrl }}resources/img/apple-touch-icon-precomposed.png">
<link rel="icon" href="{{siteUrl}}/resources/img/favicon.ico" type="image/x-icon">

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
