.filterbox {
	background-color: $gray-lighter;
	margin-top: -2em;
	margin-bottom: 4em;
	padding: {
		top: 1.5em;
		bottom: 1.5em;
	}

	hr {
		border-color: $gray-light;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	p, label {
		font-size: $font-size-small;
		margin-bottom: 0;
	}

	input[type="checkbox"] {
		margin-right: .5em;
	}

	.list-no-style {
		li:last-child {
			margin-bottom: 0;
		}
	}

	.grid-row {
		margin-bottom: 0;
	}
}

.filterbox-search {
	@include clearfix();
	margin-top: 1em;
}

.filterbox-search-input {
	padding: .5em;
	display: block;
	width: 100%;
	margin-bottom: 1em;
	border: 0;
	@include media($bp-md) {
		float: left;
		width: 80%;
		margin-bottom: 0;
	}
}

.filterbox-search-button {
	margin-bottom: 0;
	
	text-align: center;
	display: block;
	width: 10em;
	@include media($bp-md) {
		float: left;
		width: 20%;
	}
}

.filterbox-filters {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.filterbox-filter {
	position: relative;
	display: inline-block;
	margin-right: 3em;
	margin-bottom: 0;
}

.filterbox-filter-label {
	@include user-select(none);
	cursor: pointer;
	.lnr {
		display: inline-block;
	}
}

.filterbox-drawer {
	@include transition(opacity .1s ease-out);
	position: absolute;
	visibility: hidden;
	opacity: 0;
	background-color: $gray-lighter;
	box-shadow: 0 0 3px rgba(0,0,0, .25);
	padding: 1em;
	min-width: 13em;
	z-index: 10;
	margin-top: 2em;
}

.filterbox-filter-is-open {
	.filterbox-filter-label {
		color: $oakland-green;
		.lnr {
			@include transform(rotate(180deg));
		}
	}
	.filterbox-drawer {
		visibility: visible;
		opacity: 1;
	}
}