.ui-datepicker {
    background-color: $gray-lighter;
    box-shadow: 0 0 3px rgba(0,0,0,.25);

    .ui-datepicker-today a {
        color: $forestland;
    }

    .ui-datepicker-prev {
        cursor: pointer;
        .ui-icon {
            display: inline-block;
            text-indent: 0;
            &:before {
                font-family: $icon-font;
                content: '\e875';
                font-size: .8em;
            }
        }
    }

    .ui-datepicker-next {
        cursor: pointer;
        .ui-icon {
            display: inline-block;
            text-indent: 0;
            &:before {
                font-family: $icon-font;
                content: '\e876';
                font-size: .8em;
            }
        }
    }
}



