{% extends '_base.html' %}

{% block content %}
{% set portrait = {
    mode: 'crop',
    width: 200,
    height: 200,
    quality: 80,
    position: 'top-center'
} %}
<main class="staff">

  <div class="main-overlay"></div>

  <section>
    <div class="container">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="{{siteUrl}}staff">{{"City Staff" | translate }}</a>
        <span>{{ entry.title}}</span>
      </nav>

      <h1>{{ entry.staffFirstName }} {{ entry.staffLastName }}</h1>

      <div class="grid-row">
        <div class="one-fourth">
          {% if entry.staffPortrait | length > 0 %}
          <img class="team-member-portrait" src="{{ entry.staffPortrait.first().getUrl(portrait) }}" alt="{{ entry.staffPortrait.first().title }}">
          {% endif %}
        </div>
        <div class="column-shift seven-twelfths column-last">
            {% if entry.staffJobTitle %}<p class="team-member-job-title">{{ entry.staffJobTitle }}</p>{% endif %}
            {% if entry.staffEmailAddress %}<p class="team-member-email">{{ entry.staffEmailAddress }}</p>{% endif %}
            {% if entry.staffBio %}<p class="team-member-bio">{{ entry.staffBio }}</p>{% endif %}
        </div>
      </div>
    </div>
  </section>
</main> 
{% endblock %}   