{% extends '_base.html' %}

{% block content %}

  {% set event = craft.venti.getEventById(entry.id) %}
  {% if event.rRule %}
    {% set event = craft.venti.nextEvent(entry.id) %}
  {% endif %}

  {% set eventHero = {
      mode: 'crop',
      width: 900,
      quality: 80,
      position: 'center-center'
  } %}

    <main class="event">

    <div class="main-overlay"></div>

      <div class="container">
        <nav class="breadcrumbs">
          <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
          <span><a href="{{ siteUrl }}events">{{"Events" | translate }}</a></span>
          <span>{{ event.title }}</span>
        </nav>
      </div>

      <article class="container">
        <h1>{{ event.title }}</h1>
        <p class="lead">
          {% if event.isrepeat == 1 %}
            {{ event.summary }} <br/> (Next is {{ event.startDate|date('l, F d, Y, g:ia') }} - {{ event.endDate|date('g:ia') }})
          {% else %}
            {# Is the event same date or multiday event? #}
               {% if event.startDate|date('mdY') == event.endDate|date('mdY') %}
                   {# Is the event all day #}
                   {% if event.allDay == 1 %}
                       {# If the event is repeat also show the repeat schedule(summary) #}
                       {% if event.isrepeat == 1 %}
                           {{ event.startDate|date('l, F d, Y') }} {{ event.summary }}
                       {% else %}
                           {{ event.startDate|date('l, F d, Y') }}
                       {% endif %}
                   {% else %}
                      {{ event.startDate|date('l, F d, Y, g:ia') }} - {{ event.endDate|date('g:ia') }}
                   {% endif %}
               {% else %}
                   {% if event.allDay == 1 %}
                       {{ event.startDate|date('l, F d, Y') }} - {{ event.endDate|date('l, F d, Y') }}
                   {% else %}
                       {{ event.startDate|date('l, F d, Y, g:ia') }} - {{ event.endDate|date('l, F d, Y g:ia') }}
                   {% endif %}
               {% endif %}
            {% endif %}
        </p>
        
        <div class="grid-row">
          <div class="one-half">
            <h3>Details</h3>
            {{ entry.body }}

            <h3>Location</h3>
            {{ entry.eventLocation }}

            {% if entry.eventRecordedLiveVideoLink %}
            <h3>Recorded / Live Video</h3>
            <a href="{{entry.eventRecordedLiveVideoLink}}">Watch the Video</a>
            {% endif %}

            {% if entry.eventAttachedDocuments | length > 0 %}
              <h3>Attached Documents</h3>
              {% for document in entry.eventAttachedDocuments %}
              <a href="{{document.url}}">{{document.title}}</a>
              {% endfor %}
            {% endif %}

            {% if entry.eventContact %}
              <h3>For More Information</h3>
              {{ entry.eventContact }}
            {% endif %}
          </div>
          <div class="column-shift five-twelfths column-last">
            {% if event.eventPhoto | length > 0 %}
            <img src="{{ event.eventPhoto.first().getUrl(eventHero)}}" alt="" class="event-photo">
            {% endif %}
            <iframe height="250" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ event.eventLocation | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
          </div>
        </div>

      </article>
    </main>    

{% endblock %}
