{% extends '_base.html' %}

{% block content %}
<main class="initiative">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="hero-image" style="background-image: url('{{ entry.initiativeHero.first().url }}')"></div>

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="#">{{"Initiatives" | translate}}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds">
          <p class="initiative-subtitle">{{"City Initiative" | translate }}</p>
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.initiativeSummary }}</p>
        </div>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  {% set relatedReports = craft.entries.section('reports').relatedTo(entry) %}
  {% if relatedReports | length > 0 %}
  <section class="section">
    <div class="container">
      <h2>{{"Reports" | translate }}</h2>
      <div class="grid-row">
        <div class="big-menu one-third">
          {% for report in relatedReports %}
          {% if loop.index % 3 == 1 %}
          <a class="menu-item" href="{{ report.url }}">
            <h3>{{ report.title }}</h3>
            <p>{{report.reportSummary}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for report in relatedReports %}
          {% if loop.index % 3 == 2 %}
          <a class="menu-item" href="{{ report.url }}">
            <h3>{{ report.title }}</h3>
            <p>{{report.reportSummary}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for report in relatedReports %}
          {% if loop.index % 3 == 0 %}
          <a class="menu-item" href="{{ report.url }}">
            <h3>{{ report.title }}</h3>
            <p>{{report.reportSummary}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
  <section class="section">

    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"News and Updates" | translate }}</h2>
        </div>
        <div class="one-fourth text-right">
          <a href="{{ craft.entries.slug('news').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }}</a>
        </div>
      </div>
      <div class="grid-row">

          {% for newsArticle in craft.entries.section('news').relatedTo(entry).limit(3) %}  
          <div class="post-excerpt one-third">   
            {% if newsArticle.mainImage | length > 0 %}
            <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
            {% endif %}  
            <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
            <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
            <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}

      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% if entry.initiativeRelatedServices | length > 0 %}
  <section class="section">
    <div class="container">
      <h2>{{"Services and Resources" | translate }}</h2>
      <div class="grid-row">
        <div class="big-menu one-third">
          {% for entry in entry.initiativeRelatedServices %}
          {% if loop.index % 3 == 1 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for entry in entry.initiativeRelatedServices %}
          {% if loop.index % 3 == 2 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for entry in entry.initiativeRelatedServices %}
          {% if loop.index % 3 == 0 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

</main>

{% endblock %}