{% extends '_base.html' %}

{% block content %}
<main class="initiative">

  <div class="main-overlay"></div>

  <section class="subheader">

    {% if entry.initiativeHero | length > 0 %}
    <div class="hero-image" style="background-image: url('{{ entry.initiativeHero.first().url }}')"></div>
    {% endif %}

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="#">{{"Initiatives" | translate}}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds">
          <p class="initiative-subtitle">{{"City Initiative" | translate }}</p>
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.initiativeSummary }}</p>
          {% if entry.initiativeDonateContact %}<a class="btn btn-small" href="{% if "@" in entry.initiativeDonateContact %}mailto:{% endif %}{{ entry.initiativeDonateContact }}">Donate</a>{% endif %}
          {% if entry.initiativeVolunteerContact %}<a class="btn btn-small" href="{% if "@" in entry.initiativeVolunteerContact %}mailto:{% endif %}{{ entry.initiativeVolunteerContact }}">Volunteer</a>{% endif %}
        </div>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
  <section class="section">

    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"News and Updates" | translate }}</h2>
        </div>
        <div class="one-fourth text-right column-last">
          <a href="{{ craft.entries.slug('news').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }}</a>
        </div>
      </div>
      <div class="grid-row">

          {% for newsArticle in craft.entries.section('news').relatedTo(entry).limit(3) %}  
          <div class="post-excerpt one-third {% if loop.index % 3 == 0 %}column-last{% endif %}">   
            {% if newsArticle.mainImage | length > 0 %}
            <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
            {% endif %}  
            <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
            <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
            <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}

      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% if craft.entries.section('events').relatedTo(entry) | length > 0 %}

  {% set eventParams = {
      section: "events",
      order: 'eventDate asc',
      eventDate: '>=' ~ now,
      limit: '3',
      relatedTo: entry
    }
  %}

  <section class="section">
    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"Upcoming Events" | translate }}</h2>
        </div>
        <div class="one-fourth text-right column-last">
          <a href="{{ craft.entries.slug('events').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }}</a>
        </div>
      </div>
      
      <div class="grid-row">
          {% for event in craft.entries(eventParams) %}  
          <div class="post-excerpt one-third {% if loop.index % 3 == 0 %}column-last{% endif %}"> 
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
            <p class="post-data"><time datetime="">{{ event.eventDate | date("l, F d, Y")}}{% if event.eventEndDate %} - {{ event.eventEndDate | date("l, F d, Y")}}{% endif %}{% if event.eventStartTime %} | {{ event.eventStartTime.localeTime() }}{% endif %}{% if event.eventEndTime %} - {{ event.eventEndTime.localeTime() }}{% endif %}</time></p>
          </div>
          {% endfor %}
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% set relatedReports = craft.entries.section('reports').relatedTo(entry) %}
  {% set relatedPolicies = craft.entries.section('policies').relatedTo(entry) %}
  {% if relatedReports | length > 0 or relatedPolicies | length > 0 %}
  <section class="section">
    <div class="container">
      <div class="grid-row">
        
        {% if relatedReports | length > 0 %}
        <div class="five-twelfths">
          <h2>{{"Reports" | translate }}</h2>
          <div class="menu">
            {% for report in relatedReports %}
            {% if loop.index % 3 == 1 %}
            <a class="menu-item" href="{{ report.url }}">
              <h5>{{ report.title }}</h5>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        
        {% if relatedPolicies | length > 0 %}
        <div class="column-shift five-twelfths column-last">
          <h2>{{"Policies" | translate }}</h2>
          <div class="menu">
            {% for policy in relatedPolicies %}
            {% if loop.index % 3 == 1 %}
            <a class="menu-item" href="{{ policy.url }}">
              <h5>{{ policy.title }}</h5>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% if entry.initiativeRelatedServices | length > 0 %}
  <section class="section">
    <div class="container">
      <h2>{{"Services and Resources" | translate }}</h2>
      <div class="grid-row">
        <div class="big-menu one-third">
          {% for entry in entry.initiativeRelatedServices %}
          {% if loop.index % 3 == 1 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third">
          {% for entry in entry.initiativeRelatedServices %}
          {% if loop.index % 3 == 2 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="big-menu one-third column-last">
          {% for entry in entry.initiativeRelatedServices %}
          {% if loop.index % 3 == 0 %}
          <a class="menu-item" href="{{ entry.url }}">
            <h3>{{ entry.title }}</h3>
            <p>{{entry.leadIn}}</p>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% if entry.initiativeAbout %}
  <section class="section">
    <div class="container">
      <div class="grid-row">
        <div class="one-third">
          <h2>{{"About" | translate }} {{ entry.title }}</h2>
        </div>
        <div class="two-thirds">
          {{ entry.initiativeAbout }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main>

{% endblock %}