{% extends "_base.html" %}

{% block content %}
<main class="search">
  <div class="main-overlay"></div>
  
  <div class="container">

    {% set query = craft.request.getParam('q') %}
    {% set entries = craft.entries.search(query).order('score') %}

    <nav class="breadcrumbs">
      <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
      <span>{{"Search Results" | translate }}</span>
    </nav>

    <h1>{{ entries | length }} {{"pages match your search for" | translate }} <strong>{{ query }}</strong></h1>

    {% if entries|length %}
        <div class="grid-row menu">
          <div class="one-fourth">
            <h5>{{"Top Hit" | translate}}</h5>
          </div>
          <div class="two-thirds column-shift column-last">
            <a class="menu-item" href="{{ entries.first().url }}">{{ entries.first().title }} (in {{ entries.first().section.name }})</a>
          </div>
        </div>

        {% set allSections = craft.sections.getAllSections() %}

        {% for currentSection in allSections %}
          {% if entries.section(currentSection.handle) | length > 0 %}
          <hr>
          <div class="grid-row">
            <div class="one-fourth">
              <h5>{{ currentSection.name }}</h5>
            </div>
            <div class="two-thirds column-shift column-last">
              {% for entry in entries.section(currentSection.handle) %}
              <a class="menu-item" href="{{ entry.url }}">{{ entry.title }}</a>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      
    {% else %}
        <p>{{"Your search for" | translate }} “{{ query }}” {{"didn’t return any results." | translate }}</p>
    {% endif %}

    <hr>
    <div class="grid-row menu">
      <div class="one-fourth">
        <h5>{{"Top Results from the Former Oakland Website" | translate }}</h5>
      </div>
      <div class="two-thirds column-shift column-last">
        <script>
          (function() {
            // var cx = '001305156678861021700:dmhy1n9joyo';
            var cx = '017801668647536616097:grdicmryz10';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:searchresults-only></gcse:searchresults-only>
        <br>
        <p class="text-small"><a href="http://www2.oaklandnet.com/Search/index.htm?cx=017801668647536616097%3Agrdicmryz10&cof=FORID%3A10&ie=UTF-8&q={{ query }}&sa=Search">See full results from www2.oaklandnet.com <span class="lnr lnr-arrow-right"></span></a></p>
      </div>
    </div>


  </div>

</main>
{% endblock %}