{% extends '_base.html' %}

{% block content %}
{% set portrait = {
    mode: 'crop',
    width: 200,
    height: 200,
    quality: 80,
    position: 'top-center'
} %}
<main class="team">

  <div class="main-overlay"></div>

  <section>
    <div class="container">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="#">{{"Teams" | translate }}</a>
        <span>{{ entry.title}}</span>
      </nav>

      <h1>{{ entry.title }}</h1>
    </div>
  </section>

  <section>
    <div class="container">
      {% for block in entry.team %}
      {% if block.type == "heading" %}
      <h2>{{ block.headingText }}</h2>
      {% elseif block.type == "staffMember" %}
      {% set staffMembers = block.staffMember %}
      {% for member in staffMembers %}
      <div class="grid-row">
        <div class="one-fourth">
          {% if member.staffPortrait | length > 0 %}
          <img class="team-member-portrait" src="{{ member.staffPortrait.first().getUrl(portrait) }}" alt="{{ member.staffPortrait.first().title }}">
          {% else %}
          <img class="team-member-portrait" src="{{ craft.config.rootUrl }}resources/img/staff_placeholder.png" alt="No Picture Available">
          {% endif %}
        </div>
        <div class="column-shift seven-twelfths column-last">
            <h4 class="team-member-name">{{ member.staffFirstName }} {{ member.staffLastName }}</h4>
            {% if member.staffJobTitle %}<p class="team-member-job-title">{{ member.staffJobTitle }}</p>{% endif %}
            {% if member.staffEmailAddress %}<p class="team-member-email">{{ member.staffEmailAddress }}</p>{% endif %}
            {% if member.staffBio %}<p class="team-member-bio">{{ member.staffBio }}</p>{% endif %}
        </div>
      </div>
      <hr>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  </section>

</main> 
{% endblock %}   