h1 + .lead {
    margin-top: -1.5em;
    margin-bottom: 2em;
}

.cta-section {
    border-bottom: 4px solid $gray-lighter;
    padding-bottom: 3em;
    margin-top: 1em;
    margin-bottom: 3em;


    .cta-block {
        margin-bottom: 0;
        padding-right: 1em;
        .btn {
            width: 100%;
            text-align: center;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}