.business {

    .section-vignette {
        margin-top: -2.2em;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-bottom: 2em;
        position: relative;
        background-position: center center;
        background-size: cover;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,.3);
        }

        .align-right {
            float: right;
        }

        .quote {
            color: #fff;
            font-size: $font-size-h2;
            font-weight: lighter;
            line-height: 1.5em;
        }
        .quote-author {
            color: #fff;
            font-size: $font-size-body;
        }
    }
}