.homepage {
    .subheader {
        background-color: #000;
        padding-bottom: 0;
    }
    .news-section {
        h5 {
            margin-top: .5em;
            margin-bottom: 2em;
        }
        .btn-see-all-news {
            margin-top: 2em;
        }
    }
}