.initiative {
    .subheader {
        position: relative;
        background-color: #000;

        .initiative-subtitle {
            color: $oakland-green;
            margin-bottom: 0;
        }
    }
}