.template-jobs {
    .job-search {
        position: relative;
        background: transparent;
        padding: 0;
        margin-bottom: 0;
        width: 100%;

        label {
            margin-bottom: 0;
        }

        input {
            border-color: transparent !important;
            width: 100%;
            padding-right: 2.1875rem;
        }

        .search-icon {
            position: absolute;
            right: 0.625rem;
            top: 0.75rem;
            color: $oakland-green;
            font-size: 1.0625rem;
        }
    }

    .jobs-list {
        list-style-type: none;
        padding: 0;
    }

    .is-hidden {
        display: none;
    }

    .job__title {
        font-weight: normal;
        margin-bottom: .2em;
        font-size: 18px;
        color: #000;
    }

    .job__detail {
        display: inline-block !important;
        margin: 0;
        color: #888 !important;
        width: auto;
        font-size: 16px;
    }

    .job__detail::after {
        display: inline-block;
        content: '|';
        margin: 0 1em;
    }

    .job__detail:last-of-type::after {
        content: '';
    } 

    .job__description {
        margin-top: .5em;
        height: 1.2em;
        overflow: hidden;
        font-size: 18px;
        color: #000;
    }

    .filter-title {
        font-weight: 600;
        margin-bottom: 0;
    }

    .filter-toggle {
        font-size: 14px;
        margin-bottom: 1em;
        margin-right: 1em;
        display: inline-block;
    }

    .job-filter {
        margin-bottom: 2em;
        color: #888;
    }

    .form-checkbox {
        font-size: 16px;
        margin-bottom: 0;
    }

    .filter-item {
        position: relative;
        margin-bottom: .7em;
        font-size: 14px;
        label {
            padding: 0;
            margin-left: 1.5em;
            &:hover:before {
                display: none;
            }
        }
        input[type="checkbox"] {
            position: absolute;
            left: 0;
            top: .2em;
            display: inline-block;
        }
    }

}