.city-council, .officials-index {
    .official {
        @include clearfix();
        padding: .5em;

        &:hover {
            cursor: pointer;
            background-color: $gray-lighter;
            text-decoration: none;
        }

        .official-name {
            margin-top: .75em;
            margin-bottom: 0;
            color: $gray-darker;
        }

        .official-title {
            color: $gray-dark;
            margin-bottom: 0;
        }

        .official-portrait {
            margin-top: 0;
            float: left;
            width: 100px;
            margin-right: .5em;
            margin-bottom: 0;
            img {
                display: block;
                margin-bottom: 0;
            }
        }
    }


}

.official {

    .subheader {
        background-color: #000;
        padding-bottom: 2em;
        padding-top: 4em;
        @include media($bp-md) {
            padding-top: 8em;
        }
    }

    .official-feature-story {
        color: #fff;
        @include media($bp-md) {
            @include shift(5);
            @include column-span(7);
        }

        h4, p, a {
            position: relative;
            z-index: 2;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    .hero-image {
        background-color: $jack-london-purple;
    }


    .official-header {
        margin-top: -2.2em;
        padding-top: 2em;
        margin-bottom: 2em;
        padding-bottom: 0;
        position: relative;
        color: #fff;
        background-color: $jack-london-purple;
        background-color: rgba($jack-london-purple, .95);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1; 
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../img/bg-pattern-large.png');
        }

        .grid-row {
            margin-bottom: 0;
        }
    }
    .official-name {
        margin-bottom: 0;
    }

    .official-job-title {
    
    }

    .official-vision-statement {
        margin-bottom: 0;
        font-style: italic;
    }


    .connect-icons {
        a {
            margin-right: 1em;
        }
    }

    .official-portrait {
        width: 100%;
        max-width: 250px;
        margin: {
            left: auto;
            right: auto;
        }
        img {
            border-radius: 50%;
        }

    }
    .official-page-portrait {
        max-width: 180px;
        @include media($bp-md) {
           margin-top: -6.6em;
           margin-left: 0;
       } 
    }
}