{% extends '_base.html' %}

{% block content %}
<main class="official">

  <div class="main-overlay"></div>

  <section class="section">
    <div class="container">
      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">Oakland</a>
        <a href="{{siteUrl}}officials">Elected Officials</a>
        <span>{{ entry.title }}</span>
      </nav>
      <div class="grid-row official-header">
        <div class="one-third">
          <figure class="official-portrait">
            <img src="{{ entry.portrait.first().url }}" alt="{{ entry.portrait.first().caption }}">
          </figure>
        </div>
        <div class="column-shift seven-twelfths">
          <h1 class="official-name">{{ entry.title }}</h1>
          <p class="official-job-title">{{ entry.jobTitle }}</p>
          <p class="official-vision-statement">{{ entry.visionStatement }}</p>
          <div class="connect-icons">
            {% if entry.facebookProfile %}<a href="{{entry.facebookProfile}}">Facebook</a>{% endif %}
            {% if entry.twitterProfile %}<a href="{{entry.twitterProfile}}">Twitter</a>{% endif %}
            {% if entry.email %}<a href="{{entry.email}}">Email</a>{% endif %}
          </div>
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% set relatedInitiatives = craft.entries.section('initiatives').relatedTo(entry) %}
  {% if relatedInitiatives | length > 0 %}
  <section class="section">
    <div class="container">
      <h2>Priorities</h2>
      
      {% if relatedInitiatives | length % 2 == 0 %}
      <div class="grid-row">
        {% for initiative in relatedInitiatives %}
        <a href="{{initiative.url}}" class="one-half initiative-link" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>     

      {% else %}
      <a href="{{ relatedInitiatives.first().url }}" class="initiative-link main-initiative" style="background-image: url('{{ relatedInitiatives.first().initiativeHero.first().url }}')">
        <h3>{{ relatedInitiatives.first().title }}</h3>
      </a>
      <div class="grid-row">
        {% for initiative in relatedInitiatives.offset(1) %}
        <a href="{{ initiative.url }}" class="one-half initiative-link {% if loop.index % 2 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      <hr>
    </div>
  </section>
  {% endif %}

  {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
  <section class="section">

    <div class="container">

      <div class="grid-row">

          <h2>News and Updates</h2>

          {% for newsArticle in craft.entries.section('news').relatedTo(entry) %}  
          <div class="post-excerpt one-third">        
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
          <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}

      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h2>Get in Touch</h2>
      <div class="grid-row">
        <div class="one-half">
          <h4>Address</h4>
          <p>{{entry.physicalAddress}}</p>
          <iframe height="250" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ entry.physicalAddress | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
        </div>
        <div class="column-shift five-twelfths">
          {% if entry.email|length > 0 %}
          <h4>Email</h4>
          <p>{{entry.email}}</p>
          {% endif %}
          <h4>Phone Numbers</h4>
          <p>{{entry.phoneNumber}}</p>
          <h4>Hours</h4>
          <p>{{entry.availability}}</p>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <section class="section official-bio">
    <div class="container">
      <div class="grid-row">
        <div class="one-third">
          <h2>About {{ entry.title }}</h2>
        </div>
        <div class="two-thirds">
          {{ entry.bio }}
        </div>
      </div>
    </div>
  </section>

</main> 
{% endblock %}   