{% extends '_base.html' %}

{% block content %}

{% if entry.officialFeatureStories | length > 0 %}
  {% set story = entry.officialFeatureStories.order('RAND()').first() %}
  {% set storyHeader = story.title %}
  {% set storyLink = story.url %}
  {% set storySummary = "" %}
  {% set storyHero = "" %}

  {% if story.section.handle == "news" %}
    {% set storySummary = story.summary %}
    {% set storyHero = story.mainImage.first().url %}
  {% elseif story.section.handle == "initiatives" %}
    {% set storySummary = story.initiativeSummary %}
    {% set storyHero = story.initiativeHero.first().url %}
  {% endif %}
{% endif %}


<main class="official">

  <div class="main-overlay"></div>

  <section class="subheader">
    {% if entry.officialFeatureStories | length > 0 %}
    <div class="hero-image" style="background-image: url('{{ storyHero }}')"></div>
    {% endif %}
    <div class="breadcrumb-wrap">
      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="{{siteUrl}}officials">{{"Elected Officials" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>
    </div>
    {% if entry.officialFeatureStories | length > 0 %}
    <div class="container">
      <div class="grid-row">
        <div class="official-feature-story">
            <div class="official-feature-story-hero"></div>
            <h3><a href="{{ storyLink }}">{{ storyHeader }}</a></h3>
            <p>{{ storySummary | trimit(180) }}</p>
            <p><a href="{{ storyLink }}">Read More</a></p>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
  <section class="section official-header">
    <div class="container">
      <div class="grid-row">
        {% if entry.portrait | length > 0 %}
        <div class="one-third">
          <figure class="official-portrait official-page-portrait">
            <img src="{{ entry.portrait.first().url }}" alt="{{ entry.portrait.first().caption }}">
          </figure>
          <h1 class="official-name">{{ entry.title }}</h1>
          <p class="official-job-title">{{ entry.jobTitle }}</p>
        </div>
        {% endif %}
        <div class="{% if entry.portrait | length > 0 %}column-shift {% endif %}seven-twelfths column-last">

          <p class="official-vision-statement">{{ entry.visionStatement }}</p>
        </div>
      </div>
    </div>
  </section>

  {% set relatedInitiatives = craft.entries.section('initiatives').relatedTo(entry) %}
  {% if relatedInitiatives | length > 0 %}
  <section class="section">
    <div class="container">
      <h2>{{"Prioritized Initiatives" | translate }}</h2>
      
      {% if relatedInitiatives | length % 2 == 0 %}
      <div class="grid-row">
        {% for initiative in relatedInitiatives %}
        <a href="{{initiative.url}}" class="one-half initiative-link {% if loop.index % 2 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>     

      {% else %}
      <a href="{{ relatedInitiatives.first().url }}" class="initiative-link main-initiative" style="background-image: url('{{ relatedInitiatives.first().initiativeHero.first().url }}')">
        <h3>{{ relatedInitiatives.first().title }}</h3>
      </a>
      <div class="grid-row">
        {% for initiative in relatedInitiatives.offset(1) %}
        <a href="{{ initiative.url }}" class="one-half initiative-link {% if loop.index % 2 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      <hr>
    </div>
  </section>
  {% endif %}

  {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
  <section class="section">
    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"News and Updates" | translate }}</h2>
        </div>
        <div class="one-fourth text-right column-last">
          <a class="btn btn-small btn-block btn-secondary" href="{{ craft.entries.slug('news').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }} <span class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
      
      <div class="grid-row">
          {% for newsArticle in craft.entries.section('news').relatedTo(entry).limit(3) %}  
          <div class="post-excerpt one-third {% if loop.index % 3 == 0 %}column-last{% endif %}"> 
          {% if newsArticle.mainImage | length > 0 %}
          <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
          {% else %}
          <img class="post-image" src="{{ craft.config.rootUrl }}resources/img/news_placeholder.png"> 
          {% endif %}  
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
          <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  {% set eventParams = {
      section: "events",
      order: 'eventDate asc',
      eventDate: '>=' ~ now,
      limit: '3',
      relatedTo: entry
    }
  %}

  {% if craft.entries(eventParams) | length > 0%}
  <section class="section">
    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"Upcoming Events" | translate }}</h2>
        </div>
        <div class="one-fourth text-right column-last">
          <a class="btn btn-small btn-block btn-secondary" href="{{ craft.entries.slug('events').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }} <span class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
      
      <div class="grid-row">
          {% for event in craft.entries(eventParams) %}  
          <div class="post-excerpt one-third {% if loop.index % 3 == 0 %}column-last{% endif %}"> 
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
            <p class="post-data"><time datetime="">
              {% if event.eventDateAndTime.startDate.date|date('mdY') == event.eventDateAndTime.endDate.date|date('mdY') %}
                  {# Is the event all day #}
                  {% if event.eventDateAndTime.allDay is defined %}
                      {# If the event is repeat also show the repeat schedule(summary) #}
                      {% if event.eventDateAndTime.rRule == 1 %}
                          {{ event.eventDateAndTime.startDate.date|date('l, F d, Y') }} {{ event.eventDateAndTime.summary }}
                      {% else %}
                          {{ event.eventDateAndTime.startDate.date|date('l, F d, Y') }}
                      {% endif %}
                  {% else %}
                      {# If the event is repeat also show the repeat schedule(summary) #}
                      {% if event.eventDateAndTime.rRule %}
                          {{ event.eventDateAndTime.startDate.date|date('l, F d, Y, g:ia') }} - {{ event.eventDateAndTime.endDate.date|date('g:ia') }}  {{ event.eventDateAndTime.summary }}
                      {% else %}
                          {{ event.eventDateAndTime.startDate.date|date('l, F d, Y, g:ia') }} - {{ event.eventDateAndTime.endDate.date|date('g:ia') }}
                      {% endif %}
                  {% endif %}
              {% else %}
                  {% if event.eventDateAndTime.allDay is defined %}
                      {{ event.eventDateAndTime.startDate.date|date('l, F d, Y') }} - {{ event.eventDateAndTime.endDate.date|date('l, F d, Y') }}
                  {% else %}
                      {{ event.eventDateAndTime.startDate.date|date('l, F d, Y, g:ia') }} - {{ event.eventDateAndTime.endDate.date|date('l, F d, Y g:ia') }}
                  {% endif %}
              {% endif %}
            </time></p>
          </div>
          {% endfor %}
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h2>{{"Get in Touch" | translate }}</h2>
      <div class="grid-row">
        {% if entry.physicalAddress %}
        <div class="one-half">
          <h4>{{"Address" | translate }}</h4>
          <p>{{entry.physicalAddress}}</p>
          <iframe height="300" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ entry.physicalAddress | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
        </div>
        {% endif %}
        <div class="{% if entry.physicalAddress %}column-shift {% endif %}five-twelfths column-last">
        <h4>On the Web</h4>
        <p>
        {% if entry.facebookProfile %}<a class="icon-social icon-social-facebook" href="{{entry.facebookProfile}}">Facebook</a>{% endif %}
        {% if entry.twitterProfile %}<a class="icon-social icon-social-twitter" href="{{entry.twitterProfile}}">Twitter</a>{% endif %}
        {% if entry.instagramProfile %}<a class="icon-social icon-social-instagram" href="{{entry.instagramProfile}}">Instagram</a>{% endif %}
        {% if entry.officialNewsletter %}<a class="icon-social icon-social-email" href="{{entry.officialNewsletter}}">Newsletter</a>{% endif %}
        </p>
        {% if entry.email|length > 0 %}
          <h4>{{"Email" | translate }}</h4>
          <p>{{entry.email}}</p>
        {% endif %}
        {% if entry.phoneNumber or entry.twitterProfile or entry.instagramProfile or entry.instagramProfile %}
          <h4>{{"Phone Numbers" | translate }}</h4>
          <p>{{entry.phoneNumber}}</p>
        {% endif %}
        {% if entry.facebookProfile %}
        {% endif %}
        {% if entry.availability %}
          <h4>{{"Hours" | translate }}</h4>
          <p>{{entry.availability}}</p>
        {% endif %}
        {% if entry.officialDonateContact or entry.officialVolunteerContact %}
          <h4>Get Involved</h4>
          <p>
            {% if entry.officialDonateContact %}<a href="entry.officialDonateContact">Donate</a><br/>{% endif %}
            {% if entry.officialVolunteerContact %}<a href="entry.officialVolunteerContact">Volunteer</a>{% endif %}
          </p>
        {% endif %}
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% if entry.bio %}
  <section class="section official-bio">
    <div class="container">
      <div class="grid-row">
        <div class="one-third">
          <h2>{{"About" | translate }} {{ entry.title }}</h2>
          {% if entry.officialTeam | length > 0 %}
            <p><a href="{{entry.officialTeam.first().url}}">{{"Meet the Team" | translate}}</a></p>
          {% endif %}
          <p><a href=""></a></p>
        </div>
        <div class="two-thirds column-last">
          {{ entry.bio }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main> 
{% endblock %}   