{% extends '_base.html' %}

{% block content %}
<main class="official">

  <div class="main-overlay"></div>

  <section class="section">
    <div class="container">
      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="{{siteUrl}}officials">{{"Elected Officials" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>
      <div class="grid-row official-header">
        {% if entry.portrait | length > 0 %}
        <div class="one-third">
          <figure class="official-portrait">
            <img src="{{ entry.portrait.first().url }}" alt="{{ entry.portrait.first().caption }}">
          </figure>
        </div>
        {% endif %}
        <div class="{% if entry.portrait | length > 0 %}column-shift {% endif %}seven-twelfths">
          <h1 class="official-name">{{ entry.title }}</h1>
          <p class="official-job-title">{{ entry.jobTitle }}</p>
          <p class="official-vision-statement">{{ entry.visionStatement }}</p>
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% set relatedInitiatives = craft.entries.section('initiatives').relatedTo(entry) %}
  {% if relatedInitiatives | length > 0 %}
  <section class="section">
    <div class="container">
      <h2>{{"Priorities" | translate }}</h2>
      
      {% if relatedInitiatives | length % 2 == 0 %}
      <div class="grid-row">
        {% for initiative in relatedInitiatives %}
        <a href="{{initiative.url}}" class="one-half initiative-link" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>     

      {% else %}
      <a href="{{ relatedInitiatives.first().url }}" class="initiative-link main-initiative" style="background-image: url('{{ relatedInitiatives.first().initiativeHero.first().url }}')">
        <h3>{{ relatedInitiatives.first().title }}</h3>
      </a>
      <div class="grid-row">
        {% for initiative in relatedInitiatives.offset(1) %}
        <a href="{{ initiative.url }}" class="one-half initiative-link {% if loop.index % 2 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      <hr>
    </div>
  </section>
  {% endif %}

  {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
  <section class="section">
    <div class="container">
      <div class="grid-row no-padding">
        <div class="three-fourths">
          <h2>{{"News and Updates" | translate }}</h2>
        </div>
        <div class="one-fourth text-right">
          <a href="{{ craft.entries.slug('news').first().url }}?q={{ entry.slug }}">{{ "see all" | translate }}</a>
        </div>
      </div>
      
      <div class="grid-row">
          {% for newsArticle in craft.entries.section('news').relatedTo(entry).limit(3) %}  
          <div class="post-excerpt one-third"> 
          {% if newsArticle.mainImage | length > 0 %}
          <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
          {% endif %}  
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
          <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}
      </div>
      <hr>
    </div>
  </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h2>{{"Get in Touch" | translate }}</h2>
      <div class="grid-row">
        {% if entry.physicalAddress %}
        <div class="one-half">
          <h4>{{"Address" | translate }}</h4>
          <p>{{entry.physicalAddress}}</p>
          <iframe height="250" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ entry.physicalAddress | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
        </div>
        {% endif %}
        <div class="{% if entry.physicalAddress %}column-shift {% endif %}five-twelfths">
        <h4>On the Web</h4>
        <p>
        {% if entry.facebookProfile %}<a href="{{entry.facebookProfile}}">Facebook</a><br>{% endif %}
        {% if entry.twitterProfile %}<a href="{{entry.twitterProfile}}">Twitter</a><br>{% endif %}
        {% if entry.instagramProfile %}<a href="{{entry.instagramProfile}}">Instragram</a><br>{% endif %}
        </p>
        {% if entry.email|length > 0 %}
          <h4>{{"Email" | translate }}</h4>
          <p>{{entry.email}}</p>
        {% endif %}
        {% if entry.phoneNumber or entry.twitterProfile or entry.instagramProfile or entry.instagramProfile %}
          <h4>{{"Phone Numbers" | translate }}</h4>
          <p>{{entry.phoneNumber}}</p>
        {% endif %}
        {% if entry.facebookProfile %}
        {% endif %}
        {% if entry.availability %}
          <h4>{{"Hours" | translate }}</h4>
          <p>{{entry.availability}}</p>
        {% endif %}
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% if entry.bio %}
  <section class="section official-bio">
    <div class="container">
      <div class="grid-row">
        <div class="one-third">
          <h2>{{"About" | translate }} {{ entry.title }}</h2>
        </div>
        <div class="two-thirds">
          {{ entry.bio }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main> 
{% endblock %}   