{% extends '_base.html' %}

{% block content %}
<main class="{{ entry.slug }}">
  <div class="main-overlay"></div>

  <section id="section-1" class="section">
    <div class="container">
      <div class="grid-row">
        <div class="one-whole">
          <nav class="breadcrumbs">
            <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
            <a href="{{siteUrl}}officials">{{"Officials" | translate }}</a>
            <span>{{ entry.title }}</span>
          </nav>
          <h1>{{ entry.title }}</h1>
        </div>
        <div class="one-half">
          <a href="{{entry.redirectUrl}}" class="btn btn-large btn-external">Go to {{entry.title}}'s website</a>
        </div>
        <div class="two-thirds">
          <p>{{ "This elected official maintains their web presence on a separate website. Clicking the link above will direct you away from the Oakland website." | translate }}</p>
        </div>
      </div>
    </div>
  </section>

</main> 
{% endblock %}   