{% extends '_base.html' %}

{% block content %}
<main class="{{ entry.slug }}">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="{{siteUrl}}departments">{{"Departments" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds column-shift">
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.about }}</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-contact">{{"Contact Us" | translate}}</a>
          {% if entry.relatedServices | length > 0 %}
          <a class="menu-item" href="#section-related-services">{{"Services and Resources" | translate }}</a>
          {% endif %}
          {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
          <a class="menu-item" href="#section-related-news">{{"News and Updates" | translate }}</a>
          {% endif %}
          {% if entry.departmentHead %}
          <a class="menu-item" href="#section-management">{{"Our Management" | translate }}</a>
          {% endif %}
        </nav>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  <section id="section-contact" class="section">
    <div class="container">
      <h2>{{"Contact Us" | translate }}</h2>
      <div class="grid-row">
        {% if entry.departmentAddress %}
        <div class="one-half">
          <h4>{{"Address" | translate }}</h4>
          <p>{{entry.departmentAddress}}</p>
          <iframe height="250" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ entry.departmentAddress | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
        </div>
        {% endif %}
        <div class="column-shift five-twelfths column-last">
        {% if entry.departmentEmail|length > 0 %}
          <h4>{{"Email" | translate }}</h4>
          <p>{{entry.departmentEmail}}</p>
        {% endif %}
        {% if entry.departmentPhoneNumber %}
          <h4>{{"Phone Numbers" | translate }}</h4>
          <p>{{entry.departmentPhoneNumber}}</p>
        {% endif %}
        {% if entry.departmentHours %}
          <h4>{{"Hours" | translate }}</h4>
          <p>{{entry.departmentHours}}</p>
        {% endif %}
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% include '_includes/related-services.html' with {'relatedServices': entry.relatedServices} %}

  {% include '_includes/related-news.html' with {'search_query': 'departments[]'} %}
  
  {% include '_includes/related-documents.html' with {'search_query': 'departments[]'} %}

  {% if entry.departmentHead %}
  <section id="section-management" class="section">
    <div class="container">
      <h2>{{"Our Management" | translate }}</h2>
      <div class="grid-row">
        {% if entry.departmentHeadPortrait|length > 0 %}
        <div class="one-third">
          <img src="{{ entry.departmentHeadPortrait.first().url }}" alt="Department Head Photo">
        </div>
        {% endif %}
        <div class="two-thirds column-last">
          {{ entry.departmentHead }}
          <p>{{ entry.departmentHeadBio | default(null) }}</p>
          {% if entry.departmentTeam | length > 0 %}
          <a href="{{ entry.departmentTeam.first().url }}" class="btn btn-secondary btn-small">Meet the Rest of the Team <span class="lnr lnr-arrow-right"></span></a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main> 
{% endblock %}   