.panel {
    color: $white;
    background-color: $forestland;
    padding: .5em .7em;
    h2 {
        margin-bottom: .5em;
    }
    p  {
        height: 3em;
        overflow: auto;
    }

    *:last-child {
        margin-bottom: .5em;
    }
}