.step-list {
    list-style-type: none;
    padding-left: 0;
}

.step-item {
    position: relative;
    margin-bottom: 2em;
    &:before {
        content: '';
        position: absolute;
        top: 1em;
        left: 2em;
        right: -1em;
        border-top: 1px dotted $gray-dark;
        height: 1px;
        width: auto;
    }
    &:last-child {
        &:before {
            display: none;
        }
    }
}

.step-number {
    display: inline-block;
    padding: .5em;
    line-height: 1em;
    text-align: center;
    height: 2em;
    width: 2em;
    border: 1px solid $gray-dark;
    border-radius: 50%;
    color: $gray-dark;
    margin-bottom: 1em;
    background-color: #fff;
}

.step-content {
    h5 a {
        text-decoration: none;
        &:hover {
           text-decoration: underline; 
        }
    }
    p {
        font-size: $font-size-small;
        line-height: 1.5em;
    }
}