{% extends '_base.html' %}

{% block content %}

    <main class="form">

    <div class="main-overlay"></div>

      <div class="container">
        <nav class="breadcrumbs">
          <a href="{{ siteUrl }}">{{"Oakland" | translate}}</a>
          <span><a href="#">{{"Forms" | translate }}</a></span>
          <span>{{ entry.title }}</span>
        </nav>
      </div>

      <article class="container">
        <h1>{{ entry.title }}</h1>
        <div class="grid-row">
          <div class="two-thirds">
            <a href="{{entry.formPdf.first().url}}" class="btn"><span class="lnr lnr-download"></span> {{"Download the Form" | translate}}</a>
          </div>
        </div>
        <div class="grid-row">
          <div class="two-thirds">
            {{ entry.body }}
          </div>
        </div>
      </article>
    </main>    

{% endblock %}
