{% extends '_base.html' %}

{% block content %}
<main class="boards-index">

  <div class="main-overlay"></div>

  <section>
    <div class="container">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{{"Boards and Commissions" | translate }}</span>
      </nav>

      <h1>{{"Boards and Commissions" | translate }}</h1>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="grid-row big-menu">
        {% for board in craft.entries.section('boardsAndCommissions') %}
        <a href="{{ board.url }}" class="two-thirds menu-item">
            <h3 class="board-name">{{ board.title }}</h3>
            <p>{{ board.boardSummary }}</p>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

</main> 
{% endblock %}   