{% extends '_base.html' %}

{% block content %}

{% set initiativeBg = {
    mode: 'crop',
    width: 800,
    height: 400,
    quality: 80,
    position: 'center-center'
} %}

<main class="initiatives-index">

  <div class="main-overlay"></div>
  <section>
    <div class="container">
      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{{"Initiatives" | translate }}</span>
      </nav>
      <h1>{{"Initiatives" | translate }}</h1>
      <p>Explore the issues our city is focusing on right now.</p>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="grid-row">
        {% for initiative in craft.entries.section('initiatives') %}
        <a href="{{initiative.url}}" class="one-third initiative-link {% if loop.index % 3 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().getUrl(initiativeBg) }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>
     
    </div>
  </section>

</main> 
{% endblock %}   