{% extends '_base.html' %}

{% block content %}
{% set newsEntries = craft.entries.section('news') %}
{% if craft.request.getParam('q') %}
  {% set query = craft.request.getParam('q') %}
  {% set relatedEntry = craft.entries.slug(query).first() %}
  {% set newsEntries = craft.entries.section('news').relatedTo(relatedEntry) %}
{% endif %}

<main class="news-index">

  <div class="main-overlay"></div>

  <section>
    <div class="container">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{% if relatedEntry %}{{ relatedEntry.title }} | {% endif %}{{"News and Updates" | translate }}</span>
      </nav>

      <h1>{% if relatedEntry %}{{ relatedEntry.title }} | {% endif %}{{"News and Updates" | translate }}</h1>
    </div>
  </section>

  <section>
    <div class="container">
      {% for newsArticle in newsEntries %} 
      <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.nice() }}</time></p>
      <div class="post-excerpt grid-row">
        <div class="seven-twelfths">
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3> 
          <p>{{ newsArticle.summary }}</p>
        </div>
        {% if newsArticle.mainImage | length > 0 %}
        <div class="one-third column-shift">
          <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
        </div>
        {% endif %} 

      </div>
      <hr>
      {% endfor %}
    </div>
  </section>

</main> 
{% endblock %}   