{% extends '_base.html' %}

{% block page_styles %}
<link rel="stylesheet" href="{{ craft.config.rootUrl }}resources/css/jquery-ui.structure.min.css">
{% endblock %}

{% block page_scripts %}
{# Build Filter Box #}
<script src="{{ craft.config.rootUrl }}/resources/js/filterbox.js"></script>
{# Instantiate Datepicker #}
<script src="{{ craft.config.rootUrl }}/resources/js/jquery-ui.min.js"></script>
<script>
  $('.datepicker').datepicker({
    "prevText": "",
    "nextText": "",
    "dateFormat": "yy-mm-dd"
  });
</script>
{% endblock %}

{% block content %}

{# Instantiate Filters #}
{% set keywords = "" %}
{% set news_types = [] %}
{% set departments_officials = ['or'] %}
{% set department_slugs = [] %}
{% set official_slugs = [] %}
{% set published_after = craft.request.getQuery('published-after') %}
{% set published_before = craft.request.getQuery('published-before') %}
{% set dateParams = ['and'] %}
{% set relatedEntry = null %}
{% set relatedToParams = ['and'] %}

{# If Related To having been selected (e.g., seeing all of an departments news) #}
{% if craft.request.getParam('q') %}
  {% set query = craft.request.getParam('q') %}
  {% set relatedEntry = craft.entries.slug(query).first() %}
  {% set newsEntries = craft.entries.section('news').relatedTo(relatedEntry) %}
{% endif %}

{# If keywords are specified #}
{% if craft.request.getQuery('keywords') %}
  {% set keywords = craft.request.getQuery('keywords') %}
{% endif %}

{# If News Types are specififed #}
{% if craft.request.getQuery('news-types') | length > 0 %}
  {% set news_types = craft.request.getQuery('news-types') %}
{% endif %}

{# If publish dates are specified #}
{% if published_after != "" %}
  {% set dateParams = dateParams | merge(['>=' ~ published_after]) %}
{% endif %}

{% if published_before != "" %}
  {% set dateParams = dateParams | merge(['<=' ~ published_before]) %}
{% endif %}

{# If departments are specificed #}
{% if craft.request.getQuery('departments') %}
{% set department_slugs = craft.request.getQuery('departments') %}
  {% for department in department_slugs %}
    {% set departments_officials = departments_officials | merge([craft.entries.slug(department)]) %}
  {% endfor %}
{% endif %}

{# If officials are specificed #}
{% if craft.request.getQuery('officials') %}
  {% set official_slugs = craft.request.getQuery('officials') %}
  {% for official in official_slugs %}
    {% set departments_officials = departments_officials | merge([craft.entries.slug(official)]) %}
  {% endfor %}
{% endif %}

{% if departments_officials | length > 1 %}
  {% set relatedToParams = relatedToParams | merge([{targetElement: departments_officials}]) %}
{% endif %}


{# Avoid passing an array with `['and']` only #}
{% if relatedToParams | length < 2 %}
  {% set relatedToParams = "" %}
{% endif %}

{% if dateParams | length < 2 %}
  {% set dateParams = "" %}
{% endif %}

{# Build the ridiculously complicated search query #}
{% set newsEntries = craft.entries({
  section: "news",
  search: keywords,
  type: news_types,
  dateCreated: dateParams,
  relatedTo: relatedToParams
}) %}

<main class="news-index">

  <div class="main-overlay"></div>

  <section class="subheader">
    <div class="breadcrumb-wrap">
      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{% if relatedEntry %}{{ relatedEntry.title }} | {% endif %}{{"News and Updates" | translate }}</span>
      </nav>
    </div>
    <div class="container">
      <div class="grid-row">
        <div class="two-thirds section-info">
          <h1>{% if relatedEntry %}{{ relatedEntry.title }} | {% endif %}{{"News and Updates" | translate }}</h1>
          <p>Official press releases and updates from the City of Oakland.</p>
        </div>
      </div>
      
    </div>
  </section>

  <form class="filterbox" action="{{siteUrl}}news">
    <div class="container">
      <div class="grid-row">
        <div class="one-whole">
          <p>Search by Keyword</p>
          <div class="filterbox-search">
            <input class="filterbox-search-input" name="keywords" value="{{keywords}}" />
            <button type="submit" class="btn btn-small filterbox-search-button">Search <span class="lnr lnr-small lnr-arrow-right"></span></button>
          </div>
        </div>
      </div>
      <hr>
      <div class="filterbox-filters grid-row">
        <div class="filterbox-filter one-fourth">
          <p class="filterbox-filter-label">News Type <span class="lnr lnr-small lnr-chevron-down"></span></p>
          <p class="filterbox-filter-selection">{% if news_types | length > 0 %}{{ news_types | length }} type(s) selected{% endif %}</p>
          <div class="filterbox-drawer">
            <ul class="list-no-style">
              {% for type in craft.sections.getSectionByHandle('news').getEntryTypes() %}
                <li><label for="{{ type.handle }}"><input type="checkbox" name="news-types[]" value="{{ type.handle}}" id="{{type.handle}}" {% if type.handle in news_types %}checked{% endif %}>{{type.name}}</label></li>
              {% endfor %}
            </ul>

          </div>
        </div>
        <div class="filterbox-filter one-fourth">
          <p class="filterbox-filter-label">Publish Date <span class="lnr lnr-small lnr-chevron-down"></span></p>
          <p class="filterbox-filter-selection">{% if published_after %}{{published_after|date('M d, Y')}}{% endif %}{% if published_before %} - {{ published_before|date('M d, Y')}}{% endif %}</p>
          <div class="filterbox-drawer">
            <ul class="list-no-style">
              <li>
                <p>No Earlier Than</p>
                <input type="text" class="datepicker" name="published-after" id="published-after" value="{{ published_after }}">
              </li>
              <li>
                <p>No Later Than</p>
                <input type="text" class="datepicker" name="published-before" id="published-before" value="{{ published_before }}">
              </li>
            </ul>
          </div>
        </div>
        <div class="filterbox-filter one-fourth">
          <p class="filterbox-filter-label">Department / Official <span class="lnr lnr-small lnr-chevron-down"></span></p>
          <div class="filterbox-drawer">
            <h6>Officials</h6>
            <ul class="list-no-style">
              {% for official in craft.entries.section('electedOfficials') %}
              <li><label for="{{ official.slug }}"><input type="checkbox" name="officials[]" value="{{ official.slug}}" id="{{official.slug}}" {% if official.slug in official_slugs %}checked{% endif %}>{{official.title}}</label></li>
              {% endfor %}
            </ul>
            <h6>Departments</h6>
            <ul class="list-no-style">
              {% for department in craft.entries.section('departments') %}
              <li><label for="{{ department.slug }}"><input type="checkbox" name="departments[]" value="{{ department.slug}}" id="{{department.slug}}" {% if department.slug in department_slugs %}checked{% endif %}>{{department.title}}</label></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="filterbox-filter one-fourth column-last">
          <a href="{{siteUrl}}news" class="text-small right">Reset Search</a>
          
        </div>
      </div>
     </div>
  </form>

  <section>
    <div class="container">
      {% for newsArticle in newsEntries %} 

      <div class="post-excerpt grid-row">
        {% if newsArticle.mainImage | length > 0 %}
        <div class="one-third">
          <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
        </div>
        {% else %}
        <div class="one-third">
          <img class="post-image" src="{{ craft.config.rootUrl }}resources/img/news_placeholder.png">
        </div>
        {% endif %} 
        <div class="seven-twelfths column-shift column-last">
          <p class="post-data"><time datetime="">{{ newsArticle.dateCreated.localeDate() | date('l, M d, Y') }}</time> | {{ newsArticle.type.name }}</p>
          <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3> 
          <p>{{ newsArticle.summary }}</p>
        </div>
      </div>
      <hr>
      {% endfor %}
    </div>
  </section>

</main> 
{% endblock %}   