{% extends '_base.html' %}

{% block content %}

{% set portrait = {
    mode: 'crop',
    width: 500,
    height: 500,
    quality: 80,
    position: 'top-center'
} %}
<main class="officials-index">

  <div class="main-overlay"></div>

  <section>
    <div class="container">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{{"Elected Officials" | translate }}</span>
      </nav>

      <h1>{{"Elected Officials" | translate }}</h1>
    </div>
  </section>

  <section>
    <div class="container">
      {% for official in craft.entries.section('electedOfficials') %}
      <a href="{{official.url}}" class="one-half official {% if loop.index % 2 == 0 %}column-last{% endif %}">
        <div class="official-portrait">
          <img src="{{official.portrait.first().getUrl(portrait)}}" alt="{{official.portrait.first().title}}">
        </div>
        <div class="official-info">
          <h3 class="official-name">{{official.title}}</h3>
          <p class="official-title">{{official.jobTitle}}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

</main> 
{% endblock %}   