{% extends '_base.html' %}

{% block page_styles %}
<link rel="stylesheet" href="{{ craft.config.rootUrl }}resources/css/jquery-ui.structure.min.css">
{% endblock %}

{% block page_scripts %}
{# Build Filter Box #}
<script src="{{ craft.config.rootUrl }}/resources/js/filterbox.js"></script>
{% endblock %}

{% block content %}

{% set portrait = {
    mode: 'crop',
    width: 200,
    height: 200,
    quality: 80,
    position: 'top-center'
} %}

{# Instantiate Filters #}
{% set keywords = "" %}
{% set departments_officials_boards = ['or'] %}
{% set department_slugs = [] %}
{% set board_slugs = [] %}
{% set official_slugs = [] %}
{% set relatedEntry = null %}

{# If keywords are specified #}
{% if craft.request.getQuery('keywords') %}
  {% set keywords = craft.request.getQuery('keywords') %}
{% endif %}

{# If departments are specificed #}
{% if craft.request.getQuery('departments') %}
{% set department_slugs = craft.request.getQuery('departments') %}
  {% for department in department_slugs %}
    {% set departments_officials_boards = departments_officials_boards | merge([craft.entries.slug(department)]) %}
  {% endfor %}
{% endif %}

{# If officials are specificed #}
{% if craft.request.getQuery('officials') %}
  {% set official_slugs = craft.request.getQuery('officials') %}
  {% for official in official_slugs %}
    {% set departments_officials_boards = departments_officials_boards | merge([craft.entries.slug(official)]) %}
  {% endfor %}
{% endif %}

{# If boards are specificed #}
{% if craft.request.getQuery('boards') %}
  {% set board_slugs = craft.request.getQuery('boards') %}
  {% for board in board_slugs %}
    {% set departments_officials_boards = departments_officials_boards | merge([craft.entries.slug(board)]) %}
  {% endfor %}
{% endif %}

{# Avoid passing an array with `['and']` only #}
{% if departments_officials_boards | length < 2 %}
  {% set departments_officials_boards = "" %}
{% endif %}

{# Build the ridiculously complicated search query #}
{% set staffEntries = craft.entries({
  section: "staffMembers",
  search: keywords,
  relatedTo: departments_officials_boards
}) %}

<main class="staff staff-index">

  <div class="main-overlay"></div>

  <section class="subheader">
    <div class="breadcrumb-wrap">
      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{% if relatedEntry %}{{ relatedEntry.title }} | {% endif %}{{"Staff Directory" | translate }}</span>
      </nav>
    </div>
    <div class="container">
      <div class="grid-row">
        <div class="two-thirds section-info">
          <h1>{% if relatedEntry %}{{ relatedEntry.title }} | {% endif %}{{"Staff Directory" | translate }}</h1>
          <p>Find a staff member at the City of Oakland.</p>
        </div>
      </div>
      
    </div>
  </section>

  <form class="filterbox" action="{{siteUrl}}staff-members">
    <div class="container">
      <div class="grid-row">
        <div class="one-whole">
          <p>Search by Keyword</p>
          <div class="filterbox-search">
            <input class="filterbox-search-input" name="keywords" value="{{keywords}}" />
            <button type="submit" class="btn btn-small filterbox-search-button">Search <span class="lnr lnr-small lnr-arrow-right"></span></button>
          </div>
        </div>
      </div>
      <hr>
      <div class="filterbox-filters grid-row">
        <div class="filterbox-filter one-fourth">
          <p class="filterbox-filter-label">City Office <span class="lnr lnr-small lnr-chevron-down"></span></p>
          <p class="filterbox-filter-selection">{% if departments_officials_boards | length > 1 %}{{departments_officials_boards | length - 1}} type(s) selected{% endif %}</p>
          <div class="filterbox-drawer">
            <h6>Officials</h6>
            <ul class="list-no-style">
              {% for official in craft.entries.section('electedOfficials') %}
              <li><label for="{{ official.slug }}"><input type="checkbox" name="officials[]" value="{{ official.slug}}" id="{{official.slug}}" {% if official.slug in official_slugs %}checked{% endif %}>{{official.title}}</label></li>
              {% endfor %}
            </ul>
            <h6>Departments</h6>
            <ul class="list-no-style">
              {% for department in craft.entries.section('departments') %}
              <li><label for="{{ department.slug }}"><input type="checkbox" name="departments[]" value="{{ department.slug}}" id="{{department.slug}}" {% if department.slug in department_slugs %}checked{% endif %}>{{department.title}}</label></li>
              {% endfor %}
              <h6>Boards and Commissions</h6>
              <ul class="list-no-style">
                {% for board in craft.entries.section('boardsAndCommissions') %}
                <li><label for="{{ board.slug }}"><input type="checkbox" name="boards[]" value="{{ board.slug}}" id="{{board.slug}}" {% if board.slug in board_slugs %}checked{% endif %}>{{board.title}}</label></li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="filterbox-filter three-fourths column-last">
          <a href="{{siteUrl}}staff-members" class="text-small right">Reset Search</a>
          
        </div>
      </div>
     </div>
  </form>

  <section>
    <div class="container">
      {% if staffEntries | length > 0 %}
      {% paginate staffEntries.limit(10) as pageInfo, pageEntries %}
      {% for staffMember in pageEntries %} 

      <div class="staff grid-row no-padding">
        
        <div class="one-twelfths">
          <a href="{{ staffMember.url }}">
          {% if staffMember.staffPortrait | length > 0 %}
          <img class="team-member-portrait" src="{{ staffMember.staffPortrait.first().getUrl(portrait) }}" alt="{{ staffMember.staffPortrait.first().caption }}"> 
          {% else %}
          <img class="team-member-portrait" src="{{ craft.config.rootUrl }}resources/img/staff_placeholder.png">
          {% endif %} 
          </a>
        </div>  
        <div class="five-sixths column-shift column-last">
          <h3><a href="{{ staffMember.url }}">{{ staffMember.title }}</a></h3>
          <p>{{ staffMember.staffJobTitle }}, {{ staffMember.staffDepartmentOfficialCommission.first().title }}</p>
        </div>
      </div>
      <hr>
      {% endfor %}

      {% if pageInfo.totalPages > 1 %}
      <div class="pagination">
        <a class="pagination-link" href="{{ pageInfo.firstUrl }}">First</a>
        {% if pageInfo.prevUrl %}<a class="pagination-link" href="{{ pageInfo.prevUrl }}?{{ craft.request.getQueryStringWithoutPath() }}">Previous</a>{% endif %}

        {% for page, url in pageInfo.getPrevUrls(5) %}
            <a class="pagination-link" href="{{ url }}?{{ craft.request.getQueryStringWithoutPath() }}">{{ page }}</a>
        {% endfor %}

        <span class="pagination-current">{{ pageInfo.currentPage }}</span>

        {% for page, url in pageInfo.getNextUrls(5) %}
            <a class="pagination-link" href="{{ url }}?{{ craft.request.getQueryStringWithoutPath() }}">{{ page }}</a>
        {% endfor %}

        {% if pageInfo.nextUrl %}<a class="pagination-link" href="{{ pageInfo.nextUrl }}?{{ craft.request.getQueryStringWithoutPath() }}">Next</a>{% endif %}
        <a class="pagination-link" href="{{ pageInfo.lastUrl }}?{{ craft.request.getQueryStringWithoutPath() }}">Last</a>
      </div>
      {% endif %}

      {% else %}
      <h2>No Results Found</h2>
      {% endif %}
      
    </div>
  </section>

</main> 
{% endblock %}   