{% extends '_base.html' %}

{% block content %}
<main class="boards-and-commissions">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="#">{{"Boards and Commissions" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">
      <div class="grid-row">
        <div class="section-info two-thirds column-shift">
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.boardSummary }}</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-contact">{{"Contact Us" | translate}}</a>
          {% if craft.entries.section('events').relatedTo(entry) | length > 0 %}
          <a class="menu-item" href="#section-related-events">{{"Upcoming Events" | translate }}</a>
          {% endif %}
          {% if entry.boardRelatedServices | length > 0 %}
          <a class="menu-item" href="#section-related-services">{{"Services and Resources" | translate }}</a>
          {% endif %}
          {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
          <a class="menu-item" href="#section-related-news">{{"News and Updates" | translate }}</a>
          {% endif %}
          {% if craft.entries.section('documents').relatedTo(entry) | length > 0 %}
          <a class="menu-item" href="#section-related-documents">{{"Recently Added Documents" | translate }}</a>
          {% endif %}
          {% if entry.boardRelatedInitiatives | length > 0 %}
          <a class="menu-item" href="#section-related-initiatives">{{"Initiatives" | translate }}</a>
          {% endif %}
          {% if entry.boardMoreAbout %}
          <a class="menu-item" href="#section-about">{{"About this Board / Commission" | translate }}</a>
          {% endif %}
        </nav>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  <section id="section-contact" class="section">
    <div class="container">
      <h2>{{"Contact Us" | translate }}</h2>
      <div class="grid-row">
        {% if entry.boardPhysicalAddress %}
        <div class="one-half">
          <h4>{{"Address" | translate }}</h4>
          <p>{{entry.boardPhysicalAddress}}</p>
          <iframe height="250" width="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOgOyOpgbUD2s0zMJJYrzfDpozY7bYYOo&q={{ entry.boardPhysicalAddress | replace('/<.*?>/', ' ') | replace(' ', '+') }}" frameborder="0"></iframe>
        </div>
        {% endif %}
        <div class="column-shift five-twelfths column-last">
        {% if entry.boardApplyButtonLink %}
          <h4>{{"Join" | translate }}</h4>
          <p><a class="btn btn-secondary btn-small" href="{{entry.boardApplyButtonLink}}">Apply on Granicus</a></p>
        {% endif %}
        {% if entry.boardMainContactEmail|length > 0 %}
          <h4>{{"Email" | translate }}</h4>
          <p>{{entry.boardMainContactEmail}}</p>
        {% endif %}
        {% if entry.boardPhoneNumbers %}
          <h4>{{"Phone Numbers" | translate }}</h4>
          <p>{{entry.boardPhoneNumbers}}</p>
        {% endif %}
        {% if entry.boardBusinessHours %}
          <h4>{{"Hours" | translate }}</h4>
          <p>{{entry.boardBusinessHours}}</p>
        {% endif %}
        </div>
      </div>
      <hr>
    </div>
  </section>

  {% include '_includes/related-events.html' %}

  {% include '_includes/related-services.html' with {'relatedServices': entry.boardRelatedServices} %}

  {% include '_includes/related-news.html' with {'search_query': 'boards[]'} %}

  {% include '_includes/related-documents.html' with {'search_query': 'boards[]'} %}

  {% if entry.boardRelatedInitiatives | length > 0 %}
  <section class="section" id="section-related-initiatives">
    <div class="container">
      <h2>{{"Initiatives" | translate }}</h2>
      
      {% if entry.boardRelatedInitiatives | length % 2 == 0 %}
      <div class="grid-row">
        {% for initiative in entry.boardRelatedInitiatives %}
        <a href="{{initiative.url}}" class="one-half initiative-link {% if loop.index % 2 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>     

      {% else %}
      <a href="{{ entry.boardRelatedInitiatives.first().url }}" class="initiative-link main-initiative" style="background-image: url('{{ entry.boardRelatedInitiatives.first().initiativeHero.first().url }}')">
        <h3>{{ entry.boardRelatedInitiatives.first().title }}</h3>
      </a>
      <div class="grid-row">
        {% for initiative in entry.boardRelatedInitiatives.offset(1) %}
        <a href="{{ initiative.url }}" class="one-half initiative-link {% if loop.index % 2 == 0 %}column-last{% endif %}" style="background-image: url('{{ initiative.initiativeHero.first().url }}')">
          <h3>{{ initiative.title }}</h3>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      <hr>
    </div>
  </section>
  {% endif %}

  {% if entry.boardMoreAbout %}
  <section id="section-about" class="section">
    <div class="container">
      <div class="grid-row">
        <div class="one-third">
          <h2>{{"About this Board / Commission" | translate }}</h2>
          {% if entry.boardTeam | length > 0 %}
            <p><a class="btn btn-secondary btn-small" href="{{entry.boardTeam.first().url}}">{{"Meet the Team" | translate}} <span class="lnr lnr-arrow-right"></span></a></p>
          {% endif %}
        </div>
        <div class="two-thirds">
          {{ entry.boardMoreAbout }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main> 
{% endblock %}   