{% extends '_base.html' %}

{% block content %}
<main class="issue">

  <div class="main-overlay"></div>

  <section class="subheader">

    {% if entry.issueHero | length > 0 %}
    <div class="hero-image" style="background-image: url('{{ entry.issueHero.first().url }}')"></div>
    {% endif %}

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <a href="{{siteUrl}}issues">{{"Issues" | translate}}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds">
          <p class="issue-subtitle">{{"City Issue" | translate }}</p>
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.issueSummary }}</p>
          {% if entry.issueDonateContact %}<a class="btn btn-small" href="{% if "@" in entry.issueDonateContact %}mailto:{% endif %}{{ entry.issueDonateContact }}">Donate</a>{% endif %}
          {% if entry.issueVolunteerContact %}<a class="btn btn-small" href="{% if "@" in entry.issueVolunteerContact %}mailto:{% endif %}{{ entry.issueVolunteerContact }}">Volunteer</a>{% endif %}
        </div>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  
  {% include '_includes/related-news.html' with {'search_query': 'q'} %}

  {% include '_includes/related-events.html' %}

  {% include '_includes/related-documents.html' with {'search_query': 'issues[]'} %}

  {% include '_includes/related-services.html' with {'relatedServices': entry.issueRelatedServices} %}

  {% if entry.issueAbout %}
  <section class="section">
    <div class="container">
      <div class="grid-row">
        <div class="one-third">
          <h2>{{"About" | translate }} {{ entry.title }}</h2>
          {% if entry.issueTeam | length > 0 %}
          <a href="{{ entry.issueTeam.first().url }}" class="btn btn-secondary btn-small">Meet the Team <span class="lnr lnr-arrow-right"></span></a>
          {% endif %}
        </div>
        <div class="two-thirds">
          {{ entry.issueAbout }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main>

{% endblock %}