{% extends "_base" %}

{% block content %}

<main class="jobs">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">Oakland</a>
        <span>Digital Playbook</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">
        
        <div class="section-info two-thirds column-shift">
          <h1>Digital Playbook</h1>
          <p>We are building a digital front door to city hall to help residents find the resources and services they need online.</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-1">The Challenge</a>
          <a class="menu-item" href="#section-2">Our Goals</a>
          <a class="menu-item" href="#section-3">Progress Made</a>
          <a class="menu-item" href="#section-3">Toolkits</a>
        </nav>
      </div>
    </div>
  </section>
  <section id="section-1" class="section">
    <div class="container">
      <h1>The Challenge</h1>
      <div class="grid-row">

      </div>
      <hr>
    </div>

  </section>
  <section id="section-2" class="section">
    <div class="container">
      <h1>Our Goals</h1>
      <div class="grid-row">
        <hr>
      </div>
  </div>
  </section>
  
  <section id="section-3" class="section">
    <div class="container">
      <h1>Progress Made</h1>
      <div class="grid-row">
        
      </div>
      <div class="grid-row">
        
      </div>
      <hr>
    </div>
  </section>
  
  <section id="section-4" class="section">
    <div class="container">
      <h1>Toolkits</h1>

    </div>
  </section>
</main>
{% endblock %}