{% extends '_base.html' %}

{% block content %}
<main class="city-council">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">

        <div class="section-info two-thirds column-shift">
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.councilSummary }}</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-councilmembers">{{"Elected Officials" | translate}}</a>
          {% if entry.councilRelatedServices | length > 0 %}
          <a class="menu-item" href="#section-related-services">{{"Services and Resources" | translate }}</a>
          {% endif %}
          {% if craft.entries.section('news').relatedTo(entry) | length > 0 %}
          <a class="menu-item" href="#section-related-news">{{"News" | translate }}</a>
          {% endif %}
          {% if entry.councilAbout %}
          <a class="menu-item" href="#section-about">{{"About City Council" | translate }}</a>
          {% endif %}
        </nav>

      </div><!-- .grid-row -->

    </div><!-- .container -->

  </section><!-- .subheader -->

  {% set portrait = {
      mode: 'crop',
      width: 400,
      height: 400,
      quality: 80,
      position: 'top-center'
  } %}

  <div class="container" class="section" id="section-councilmembers">
    <h2>Elected Officials</h2>
    <div class="grid-row">
      {% for official in entry.councilElectedOfficials %}
      <a href="{{official.url}}" class="one-half official {% if loop.index % 2 == 0 %}column-last{% endif %}">
        <div class="official-portrait">
          <img src="{{official.portrait.first().getUrl(portrait)}}" alt="{{official.portrait.first().title}}">
        </div>
        <div class="official-info">
          <h3 class="official-name">{{official.title}}</h3>
          <p class="official-title">{{official.jobTitle}}</p>
        </div>
      </a>
      {% endfor %}
    </div>
    <hr/>
  </div>

  {% include '_includes/related-services.html' with {'relatedServices': entry.councilRelatedServices} %}

  {% include '_includes/related-events.html' %}

  {% include '_includes/related-news.html' with {'search_query': 'councils[]'} %}
  
  {% include '_includes/related-documents.html' with {'search_query': 'councils[]'} %}

  {% if entry.councilAbout %}
  <section id="section-about" class="section">
    <div class="container">
      <h2>{{"About City Council" | translate }}</h2>
      <div class="grid-row">
        <div class="one-whole">
          {{ entry.councilAbout }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main> 
{% endblock %}   