{% extends '_base.html' %}

{% block content %}

    <main>

    <div class="main-overlay"></div>

      <div class="container">
        {% include '_includes/breadcrumbs.html' %}
      </div>

      <article class="container">
        <h1>{{ entry.title }}</h1>
        <div class="grid-row">
          <div class="two-thirds">
            {% if entry.leadIn != "" %}
            <p class="lead">{{ entry.leadIn}}</p>
            {% endif %}

            {% if entry.CTATitle != "" %}
            <a class="btn" href="{{ entry.CTALink }}">{{ entry.CTATitle }} <span class="lnr lnr-arrow-right"></span></a>
            {% endif %}
            
            {% if entry.callToActionPhoneNumber != "" %}
            <p class="phone-cta">or call <a href="tel: {{ entry.callToActionPhoneNumber }}">{{ entry.callToActionPhoneNumber }}</a></p>
            {% endif %}
          </div>
        </div>
        <div class="grid-row">
          <div class="two-thirds">
            {{ entry.body }}
          </div>
        </div>
      </article>
    </main>    

{% endblock %}
