{% extends '_base.html' %}

{% block content %}

    <main class="transportation">

    <div class="main-overlay"></div>

      <div class="container">
        {% include '_includes/breadcrumbs.html' %}
      </div>

      <section class="container">
        <h1>{{ entry.title }}</h1>
        <div class="grid-row">
          <div class="one-fourth">
            <a class="btn" href="{{ entry.CTALink }}">{{ entry.CTATitle }} <span class="lnr lnr-arrow-right"></span></a>
          </div>
          <div class="two-thirds column-shift">
            {{ entry.body }}
          </div>
        </div>
      </section>
    </main>    

{% endblock %}
