{% extends "_base" %}

{% block content %}

<main class="business">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">
        
        <div class="section-info two-thirds column-shift">
          <h1>Business</h1>
          <p>What you need to know to start, manage, and grow your business.</p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-1">Starting Your Business</a>
          <a class="menu-item" href="#section-2">Managing and Growing Your Business</a>
      </nav>
      </div>
    </div>
  </section>
  <section class="section section-vignette" style="background-image:url('{{entry.quote1Image.first().url}}')">
    <div class="container">
      <div class="grid-row">
        <div class="one-half align-right">
          <p class="quote">{{entry.quote1Text}}</p>
          <p class="quote-author">{{entry.quote1Author}}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="section-1" class="section">
    <div class="container">
      <h2>Starting Your Business</h2>
      <div class="grid-row">
        <div class="one-half">
          {{entry.startingABusinessDescription}} 
        </div>
        {% if entry.children.first().mostPopularLinks|length > 0 %}
        <aside class="one-half with-bg">
          <h5>Popular Links</h5>
          <ol>
          {% for link in entry.children.first().mostPopularLinks %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ol>
        </aside>
        {% endif %}
      </div>
      <ol class="step-list grid-row big-menu">
        {% for step in entry.children.first().children() %}
        <li class="step-item one-third {% if loop.index % 3 == 0 %}column-last{% endif %}">
          <div class="step-number">{{ loop.index }}</div>
          <div class="step-content">
            <a href="{{step.url}}" class="menu-item">
              <h3>{{ step.title }} <span class="lnr lnr-arrow-right"></span></h3>
              <p>{{ step.leadIn }}</p>
            </a>

          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </section>
  <section class="section section-vignette" style="background-image:url('{{entry.quote2Image.first().url}}')">
    <div class="container">
      <div class="grid-row">
        <div class="one-half">
          <p class="quote">{{entry.quote2Text}}</p>
          <p class="quote-author">{{entry.quote2Author}}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="section-2" class="section">
    <div class="container">
      <h2>Managing and Growing Your Business</h2>
      <div class="grid-row">
        {{entry.managingGrowingYourBusinessDescription}} 
        {% if entry.children.nth(1).mostPopularLinks|length > 0 %}
        <aside class="column-shift five-twelfths with-bg column-shift">
          <h5>Popular Links</h5>
          <ol>
          {% for link in entry.children.first().mostPopularLinks %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ol>
        </aside>
        {% endif %}
      </div>
      <div class="grid-row">
        <div class="big-menu">
          {% for topic in entry.children.nth(1).children %}
          <div class="menu-item one-third {% if loop.index % 3 == 0 %}column-last{% endif %}">
            <a href="{{ topic.url }}">
              <h3>{{ topic.title }} </h3>
              <p>{{ topic.leadIn }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="section section-vignette" style="background-image:url('{{entry.quote3Image.first().url}}')">
    <div class="container">
      <div class="grid-row">
        <div class="one-half">
          <p class="quote">{{entry.quote3Text}}</p>
          <p class="quote-author">{{entry.quote3Author}}</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}