{% extends "_base" %}

{% block content %}

<main class="jobs">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">Oakland</a>
        <span>{{ entry.title }}</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">
        
        <div class="section-info two-thirds column-shift">
          <h1>Jobs</h1>
          <a class="btn" href="http://agency.governmentjobs.com/oaklandca/default.cfm">See Current Job Openings<span class="lnr lnr-arrow-right"></span></a>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-1">Why Oakland?</a>
          <a class="menu-item" href="#section-2">Benefits and Perks</a>
          <a class="menu-item" href="#section-3">Application Process</a>
          <a class="menu-item" href="#section-4">Current Openings</a>
        </nav>
      </div>
    </div>
  </section>
  <section id="section-1" class="section">
    <div class="container">
      <h1>Why Oakland?</h1>
      <div class="grid-row">
        <div class="two-thirds"><img src="http://placehold.it/800x510" alt=""></div>
        <div class="one-third">
          <img class="gutter-bottom" src="http://placehold.it/800x500" alt="">
          <img src="http://placehold.it/800x500" alt="">
        </div>
      </div>
      <div class="grid-row">
        <div class="one-fourth">
          <p>"It's a great place to work because of the quality of people who work here and because of the residents. You gotta love the variety and personality."</p>
          <p class="text-muted">Glassdoor Reviewer</p>
        </div>
        <div class="one-fourth column-shift">
          <p>"If you live in Oakland, it's great to be a public servant in your own town."</p>
          <p class="text-muted">Glassdoor Reviewer</p>
        </div>
        <div class="one-fourth column-shift">
          <p>"There is potential to do great things in this City and most of the employees want to do just that."</p>
          <p class="text-muted">Glassdoor Reviewer</p>
        </div>
      </div>
      <hr>
    </div>
  </section>
  <section id="section-2" class="section">
    <div class="container">
      <h1>Benefits and Perks</h1>
      <div class="grid-row">
        <div class="one-half">
          <p>The City works hard to provide employees with generous benefits. Depending on your position, benefits may vary.</p>
          <p><a href="{{siteUrl}}/services/jobs/pay-benefits">Click here for more details on which benefits you may be eligible for</a></p>
        </div>
        <div class="one-sixth column-shift">
          <div class="gutter-bottom">
            <img src="{{siteUrl}}resources/img/icon_pension.png" alt="">
            <p class="text-muted">Pension</p>
          </div>
          <div class="gutter-bottom">
            <img src="{{siteUrl}}resources/img/icon_healthcare.png" alt="">
            <p class="text-muted">Healthcare</p>
          </div>
        </div>
        <div class="one-sixth column-shift">
          <div class="gutter-bottom">
            <img src="{{siteUrl}}resources/img/icon_dental.png" alt="">
            <p class="text-muted">Dental</p>
          </div>
          <div class="gutter-bottom">
            <img src="{{siteUrl}}resources/img/icon_vision.png" alt="">
            <p class="text-muted">Vision</p>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </section>
  
  <section id="section-3" class="section">
    <div class="container">
      <h1>Application Process</h1>
      <div class="grid-row">
        <div class="one-half">
          <p>The City manages hiring differently than private companies. Here’s what to expect for the average timeline and hiring process for most jobs.</p>
          <p><a href="{{siteUrl}}services/jobs/job-application-process">Click here to learn more about applying for city jobs</a></p>
        </div>
      </div>
      <div class="grid-row">
        <div class="one-fourth panel">
          <h2>1</h2>
          <p class="text-small">Submit Application</p>
        </div>
        <div class="one-fourth panel">
          <h2>2</h2>
          <p class="text-small">Review of minimum qualifications</p>
        </div>
        <div class="one-fourth panel">
          <h2>3</h2>
          <p class="text-small">Review of supplemental questions</p>
        </div>
        <div class="one-fourth panel">
          <h2>4</h2>
          <p class="text-small">Civil service exams and interviews</p>
        </div>
        <div class="one-fourth panel">
          <h2>5</h2>
          <p class="text-small">Placement on eligibility list</p>
        </div>
        <div class="one-fourth panel">
          <h2>6</h2>
          <p class="text-small">Department interviews</p>
        </div>
        <div class="one-fourth panel">
          <h2>7</h2>
          <p class="text-small">Receipt of job offer</p>
        </div>
      </div>
      <hr>
    </div>
  </section>
  
  <section id="section-4" class="section">
    <div class="container">
      <h1>Current Openings</h1>
      <a class="btn" href="http://agency.governmentjobs.com/oaklandca/default.cfm">See Current Job Openings<span class="lnr lnr-arrow-right"></span></a>
    </div>
  </section>
</main>
{% endblock %}