{% extends '_base.html' %}

{% block content %}
{% if entry.getAncestors() | length > 0 %}
  {% set top_level_service = entry.getAncestors().first().title|kebab %}
{% else %}
  {% set top_level_service = entry.title|kebab %}
{% endif %}

<main class="{{top_level_service|lower}}">

  <div class="main-overlay"></div>

  <section class="subheader">
    <div class="breadcrumb-wrap">
      {% include '_includes/breadcrumbs.html' %}
    </div>
    <div class="container">
      <div class="grid-row">
        <div class="section-info two-thirds">
          <h1>{{ entry.title }}</h1>
          <p>{{ entry.leadIn }}</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="grid-row">
        <div class="one-half">
          <nav class="big-menu">
            {% for page in entry.getChildren %}
            <div class="menu-item">
              <a href="{{ page.url }}">
                <h3>{{ page.title }}</h3>
                {% if page.type == "topic" %}<p>{{ page.leadIn }}</p>{% endif %}
              </a>
            </div>
            {% else %}
            <h3>This section is currently empty.</h3>
            {% endfor %}
          </nav>
        </div>
        {% if entry.mostPopularLinks|length > 0 %}
        <aside class="column-shift five-twelfths with-bg">
          <h5>Popular Links</h5>
          <ol>
          {% for link in entry.mostPopularLinks %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </ol>
        </aside>
        {% endif %}
      </div>

    </div>
  </section>

</main>

{% endblock %}