{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_base" %}

{% block content %}

{% set current_hero = entry.hero.order('RAND()').first() %}
<main class="homepage">
  <section class="subheader">

    <div class="hero-image" style="background-image: url({{ current_hero.url }});"></div>

    <div class="container">
      <div class="grid-row">
        <div class="section-info two-thirds">
          <h1>{{ "Welcome to Oakland" | translate }}</h1>
          <p>{{ "The best place to find official services and information from the City of Oakland." | translate }}</p>
        </div>
        <nav class="section-menu one-third">
          <a class="menu-item" href="#section-1">{{ "Services and Resources" | translate }}</a>
          <a class="menu-item" href="#section-2">{{ "News and Updates" | translate }}</a>
          <a class="menu-item" href="#section-4">{{ "City of Oakland Mayor" | translate }}</a>
        </nav>
      </div>
      <div class="grid-row">
        <div class="hero-caption one-half">
          <p>{{ current_hero.caption }}</p>
        </div>
      </div>
    </div>

  </section>

  <div class="main-overlay"></div>

  <section id="section-1" class="section">
    <div class="container">
      <h2>{{"Services and Resources" | translate }}</h2>
      <div class="grid-row">
        <div class="two-thirds">
          {% for entry in craft.entries.section('services').level(1) %}
          {% if loop.index % 2 == 1 %}
          <nav class="big-menu one-half column-last">
            <div class="menu-item">
              <a href="{{ entry.url }}">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.leadIn }}</p>
              </a>
            </div>
          </nav>
          {% endif %}
          {% endfor %}
          {% for entry in craft.entries.section('services').level(1) %}
          {% if loop.index % 2 == 0 %}
          <nav class="big-menu one-half">
            <div class="menu-item">
              <a href="{{ entry.url }}">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.leadIn }}</p>
              </a>
            </div>
          </nav>
          {% endif %}
          {% endfor %}
        </div>
        
        <aside class="one-third column-last with-bg">
          <h5>{{"Most Popular" | translate }}</h5>
          <ol>
            {% for service in mostPopularServices.mostPopularServices %}
            <li><a href="{{ service.url }}">{{ service.title }}</a></li>
            {% endfor %}
          </ol>
        </aside>
      </div>
      <hr>
    </div>
  </section>

  {% if craft.locale == "en_us" %}
  <section id="section-2" class="section news-section">

    <div class="container">

      <div class="grid-row">

        <div class="seven-twelfths">
          <h2>{{"News and Updates" | translate }}</h2>
          {% for newsArticle in craft.entries.section('news').limit(1) %}
          <div class="post-excerpt">
            {% if newsArticle.mainImage | length > 0 %}
            <img class="post-image" src="{{ newsArticle.mainImage.first().url }}" alt="{{ newsArticle.mainImage.first().caption }}"> 
            {% endif %}  
            <p class="post-data"><time datetime>{{ newsArticle.dateCreated.localeDate()|date('M j, Y') }}</time></p>
            <h3><a href="{{ newsArticle.url }}">{{ newsArticle.title }}</a></h3>
            <p>{{ newsArticle.summary }}</p>
          </div>
          {% endfor %}
        </div>

        <aside class="one-third column-shift column-last">
          <h5 class="aside-title">{{"Other News" | translate }} (<a href="{{ siteUrl }}news">{{"see all" | translate }}</a>)</h5>
          <ul class="list-no-style">
            {% for entry in craft.entries.section('news').offset(1).limit(6) %}
            <li>
              <a class="other-news-link" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </aside>

      </div>

      <hr>

    </div>

  </section>

  <section id="section-4" class="section">
    {% set mayor = craft.entries.slug('libby-schaaf').first() %}
    <div class="container official">
      <h2>{{"City of Oakland Mayor" | translate }}</h2>
      <div class="grid-row">
        <div class="one-third">
          <div class="official-portrait">
            <img class="official-portrait" src="{{ mayor.portrait.first().url }}" alt="{{ mayor.portrait.first().title }}">
          </div>
        </div>
        <div class="seven-twelfths column-shift column-last">
          <h3 class="official-name"><a href="{{ siteUrl}}officials/libby-schaaf">{{ mayor.title }}</a></h3>
          <p class="official-job-title">{{ mayor.jobTitle }}</p>
          <p class="official-vision-statement">{{ mayor.visionStatement }}</p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
</main>

{% endblock %}
