{% extends '_base.html' %}

{% block content %}

    <main class="digital-front-door">

    <div class="main-overlay"></div>

      <div class="container">
        {% include '_includes/breadcrumbs.html' %}
      </div>

      <article class="container">
        <h1>{{ entry.title }}</h1>
        <div class="grid-row">
          <div class="two-thirds">
            <p class="lead">{{ entry.leadIn}}</p>
            {% if entry.CTATitle is defined %}
              {% if entry.CTATitle is not empty %}
                <p><a class="btn" href="{{ entry.CTALink }}">{{ entry.CTATitle }} <span class="lnr lnr-arrow-right"></span></a></p>
              {% endif %}
            {% endif %}
            {{ entry.body }}
          </div>
        </div>
      </article>
    </main>

{% endblock %}
