{% extends "_base" %}

{% block content %}

<main class="jobs">

  <div class="main-overlay"></div>

  <section class="subheader">

    <div class="breadcrumb-wrap">

      <nav class="breadcrumbs">
        <a href="{{ siteUrl }}">Oakland</a>
        <span>Digital Front Door</span>
      </nav>

    </div>

    <div class="container">

      <div class="grid-row">
        
        <div class="section-info two-thirds column-shift">
          <h1>Oakland's New Digital Front Door to City Services</h1>
          <p>We are building a single, unified, digital front door to access City of Oakland services and information online. Here’s an overview of our process, updates on where we are and what we’ve built so far.</p>
          <p></p>
        </div>

        <nav class="section-menu one-fourth">
          <a class="menu-item" href="#section-1">Digital Front Door</a>
          <a class="menu-item" href="#section-2">Our Process</a>
          <a class="menu-item" href="#section-3">Toolkits</a>
        </nav>
      </div>
    </div>
  </section>
  <section id="section-1" class="section">
    <div class="container">
      
      <div class="grid-row">
        <div class="one-whole">
          <h1>Digital Front Door</h1>
          <p>The City of Oakland is partnering with Code for America to undertake a redesign of its main website, currently at <a href="http://www2.oaklandnet.com">www2.oaklandnet.com</a>. The goal of the project is to deliver City services in a simple, equitable way that builds trust with the community. We want to offer simple design, navigation and content to the site’s million visitors per year  who seek  information about City services and conduct business online. Additionally, we want to ease the publishing process or City staff to ensure that information is current, organized and easy to understand.</p>  

          <p>We are taking a user-centered, iterative, and data-driven approach to redesigning our website, and turning it into a space for space for interaction, feedback, and community participation.</p>

        </div>
      </div>
      <hr>
    </div>

  </section>
  <section id="section-2" class="section">
    <div class="container">
      <h1>Our Process</h1>
      <div class="grid-row">
        <ol class="step-list">
          <li class="step-item one-fourth">
            <div class="step-number">1</div>
            <div class="step-content">
              <p>Prioritize digital services based on usage and research to focus on services in high demand</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">2</div>
            <div class="step-content">
              <p>Get buy-in from key internal stakeholders (i.e., front-line public counter staff, City departments)</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">3</div>
            <div class="step-content">
              <p>Conduct user research with people in the community to identify top needs</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">4</div>
            <div class="step-content">
              <p>Map the current process to capture challenges and potential solutions</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">5</div>
            <div class="step-content">
              <p>Migrate content to the beta site and prototype pages to better fit the user needs</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">6</div>
            <div class="step-content">
              <p>Conduct user-testing to evaluate and refine best solutions</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">7</div>
            <div class="step-content">
              <p>Hand off beta site content and future recommendations to relevant stakeholders</p>
            </div>
          </li>
          <li class="step-item one-fourth">
            <div class="step-number">8</div>
            <div class="step-content">
              <p>Capture ongoing feedback through the beta site for future refinement</p>
            </div>
          </li>
        </ol>
      </div>
      <hr>
  </div>
  </section>
  
  <section id="section-3" class="section">
    <div class="container">
      <h1>Toolkits</h1>
      <div class="grid-row big-menu">
        {% for topic in entry.children %}
          <a href="{{topic.url}}" class="one-third menu-item">
            <h3>{{ topic.title }}</h3>
            <p>{{topic.leadIn}}</p>
          </a>
        {% endfor %}
      </div>
      <hr>
    </div>
  </section>

</main>
{% endblock %}