{% extends '_base.html' %}

{% block content %}

    <main class="news">

    <div class="main-overlay"></div>

      <div class="container">
        <nav class="breadcrumbs">
          <a href="{{ siteUrl }}">Oakland</a>
          <a href="#">City News</a>
          <span>{{ entry.title }}</span>
        </nav>
      </div>

      <section class="container">
        <div class="grid-row">
          <div class="two-thirds">
            <h1>{{ entry.title }}</h1>
            <p class="post-data">{{ entry.dateCreated.localeDate() }}</p>
            {% if entry.mainImage|length > 0 %}
            <img src="{{ entry.mainImage.first().url }}" alt="Main Image">
            {% endif %}
          </div>
        </div>
        
        <div class="grid-row">
          <div class="two-thirds">
            {{ entry.body }}
          </div>
        </div>
      </section>
    </main>    

{% endblock %}
