{% extends '_base.html' %}

{% block content %}

{% set newsHero = {
    mode: 'crop',
    width: 1400,
    height: 1000,
    quality: 80,
    position: 'center-center'
} %}

    <main class="news">

    <div class="main-overlay"></div>

      <div class="container">
        <nav class="breadcrumbs">
          <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
          <a href="{{ siteUrl }}news">{{"News" | translate }}</a>
          <span>{{ entry.title }}</span>
        </nav>
      </div>

      <section class="container">
        <div class="grid-row">
          <div class="two-thirds news-header">
            <h1>{{ entry.title }}</h1>
            <p class="post-data">{{ entry.dateCreated.localeDate()  | date('l, M d, Y') }} | News Update</p>
          </div>
        </div>
        
        <div class="grid-row">
          <div class="two-thirds">
            {% if entry.mainImage|length > 0 %}
            <img class="news-main-image" src="{{ entry.mainImage.first().getUrl(newsHero) }}" alt="entry.mainImage.first().caption">
            {% endif %}
            {{ entry.body }}
          </div>
        </div>
      </section>
    </main>    

{% endblock %}
