{% extends '_base.html' %}

{% block content %}

    <main class="news">

    <div class="main-overlay"></div>

      <div class="container">
        <nav class="breadcrumbs">
          <a href="{{ siteUrl }}">{{"Oakland" | translate }}</a>
          <a href="{{ siteUrl }}news">{{"News and Updates" | translate }}</a>
          <span>{{ entry.title }}</span>
        </nav>
      </div>

      <section class="container">
        <div class="grid-row">
          <div class="two-thirds news-header">
            <h1>{{ entry.title }}</h1>
            <p class="post-data">{{ entry.dateCreated.localeDate() | date('l, M d, Y') }} | Press Release</p>
          </div>
        </div>
        
        <div class="grid-row">
          <div class="two-thirds">
            {% if entry.mainImage|length > 0 %}
            <img class="news-main-image" src="{{ entry.mainImage.first().url }}" alt="Main Image">
            {% endif %}
            {{ entry.body }}
          </div>
          <div class="one-fourth column-shift column-last">
            {% if entry.mediaContacts %}
            <h3>{{"Media contacts" | translate }}</h3>
            {{ entry.mediaContacts }}
            {% endif %}
            <p><a class="btn btn-secondary btn-small" href="{{ entry.pressReleasePdf.first().url }}">{{"Download this press release as a PDF" | translate }}</a></p>
          </div>
        </div>
      </section>
    </main>    

{% endblock %}
